<?php
$this->headTitle('Pre-Event Planning Form: '.$this->record->access_code);
$this->layout()->tabs = $this->renderHere('form_tabs');
?>

<h2><?=$this->step ?></h2>
<br>
<?=$this->form->render() ?>