<?php
$this->headTitle('Pre-Event Planning Form: '.$this->record->access_code);
?>

<h2>View Form Submission</h2>

<h3>Submitting Organization</h3>
<?=$this->renderCommon('orgs', array('orgs' => array($this->org))) ?>

<?=$this->renderHere('view_tabs', TRUE) ?>