<?php
$this->headTitle('Web Hosting Control Panel');
?>

<? if ($this->searchterms): ?>
	<h2>Search Results for: <?=$this->searchterms ?></h2>
<? else: ?>
	<h2>All Hosted Organizations</h2>
<? endif; ?>

<form class="form-search" action="<?=$this->routeFromHere(array('searchterms' => NULL, 'page' => 1)) ?>" method="get">
	<input type="text" placeholder="Org Name or Web Address" name="searchterms" value="<?=$this->searchterms ?>" class="input-medium span3 search-query">
	<?=$this->button(array(
		'type'		=> 'submit',
		'icon'		=> 'find',
		'text'		=> 'Search Web Sites',
	)) ?>
</form>

<?=$this->paginate($this->pager) ?>

<table class="table table-striped" width="100%">
	<colgroup>
		<col width="20%">
		<col width="10%">
		<col width="40%">
		<col width="30%">
	</colgroup>
	<thead>
		<tr>
			<th>Actions</th>
			<th>Status</th>
			<th>Organization</th>
			<th>Web Address</th>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->pager as $record): ?>
		<tr class="input">
			<td class="center">
				<div class="btn-group">
					<?=$this->button(array(
						'type'		=> 'small',
						'icon'		=> 'vcard',
						'text'		=> 'View',
						'class'		=> 'primary',
						'target'	=> 'blank',
						'href'		=> $record->route(array('controller' => 'web')),
					)) ?>
					<?=$this->button(array(
						'type'		=> 'small',
						'icon'		=> 'pencil',
						'text'		=> 'Edit',
						'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => $record->id, 'origin' => 'pending')),
					)) ?>
				</div>
			</td>
			<td><? if ($record->it_web_pending): ?>Pending<? else: ?>Active<? endif; ?></td>
			<td><big><?=$record->name ?></big></td>
			<td><?=$this->link('http://'.$record->it_web_addr) ?></td>
		</tr>
	<? endforeach; ?>
	</tbody>
</table>

<?=$this->paginate($this->pager) ?>