<?php
$this->headTitle('Class Center Inventory System');
$this->layout()->manual = true;
?>

<div class="row">
	<div class="span8">
		<div class="floating">
			<h2>Select Category to Manage</h2>

			<dl>
			<? foreach($this->categories as $cat_code => $cat_name): ?>
				<dt><a href="<?=$this->routeFromHere(array('category' => $cat_code)) ?>"><?=$cat_name ?></dt>
			<? endforeach; ?>
			</dl>
		</div>
	</div>
	<div class="span4">
		<div class="floating">
			<h2>Utility Functions</h2>

			<dl>
				<dt><a href="<?=$this->routeFromHere(array('action' => 'archive')) ?>">Archive Previous School Year Entries</a></dt>
			</dl>
		</div>
	</div>
</div>