<h2>Manage Box: <?=$this->box->box_code ?></h2>

<div class="buttons well">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'resultset_previous',
        'text'      => 'Back to Main Page',
        'href'      => $this->routeFromHere(array('action' => 'index', 'box_id' => NULL)),
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'page_white_excel',
        'text'      => 'Export to Excel',
        'href'      => $this->routeFromHere(array('action' => 'exportbox')),
    )) ?>
<? if (!$this->box->is_deleted): ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'delete',
        'class'     => 'danger confirm-action',
        'text'      => 'Mark as Deleted',
        'href'      => $this->routeFromHere(array('action' => 'deletebox')),
    )) ?>
<? endif; ?>
<? if ($this->acl->isAllowed('admin_maroonout')): ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'add',
        'class'     => 'success fancybox fancybox.ajax',
        'text'      => 'Add Tracking Entry',
        'href'      => $this->routeFromHere(array('action' => 'addboxlog')),
    )) ?>
<? endif; ?>
</div>

<h3>About This Box</h3>

<? if ($this->box->is_deleted): ?>
    <div class="messages red">
        <b>This box is marked as deleted.</b><br />
        Tracking entries associated with this box will not appear in date view.
    </div>
<? endif; ?>

<dl>
    <dt>Shirt Size:</dt>
    <dd><?=$this->box->size_name ?></dd>

    <dt>Date Added:</dt>
    <dd><?=$this->box->created_at->format('F j, Y') ?></dd>

    <dt>Tracking Entries:</dt>
    <dd><?=count($this->box->logs) ?></dd>
</dl>

<h3>Tracking Information</h3>

<table class="datatable zebra" width="100%">
	<colgroup>
    	<col width="3%" />
    	<col width="37%" />
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
    </colgroup>
    <thead>
        <tr>
        	<th>&nbsp;</th>
        	<th>Date / Note</th>
            <th>Starting Quantity</th>
            <th>Ending Quantity</th>
            <th>Damaged</th>
            <th>Total Sold</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->box->logs as $entry): ?>
        <tr class="<?=$entry->color ?> input">
        	<td align="center">
            <? if ($this->acl->isAllowed('admin_maroonout') && $entry->canEdit()): ?>
            	<a href="<?=$this->routeFromHere(array('action' => 'deleteboxlog', 'tracking_id' => $entry->id)) ?>" title="Toggle this tracking entry's inactive flag." class="confirm-action"><?=$this->icon(($entry->is_deleted) ? 'add' : 'delete') ?></a>
            <? else: ?>
                &nbsp;
            <? endif; ?>
            </td>
        	<td align="left">
            	<a href="<?=$this->routeFromHere(array('action' => 'viewbydate', 'timestamp' => $entry->created_at->getTimestamp())) ?>" title="Click to view all tracking entries from this date."><?=$entry->created_at->format('n/d/Y g:ia') ?></a>
                <br /><small><b><?=$entry->type_name ?></b> - <?=$entry->tracking_note ?></small>
            </td>
            <td align="center"><?=$entry->quantity_out ?></td>
            <td align="center"><?=$entry->quantity_in ?></td>
            <td align="center"><?=$entry->quantity_damaged ?></td>
            <td align="center"><?=$entry->total_sold ?></td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>