<h2>Tracking Entries by Date: <?=$this->timestamp_text ?></h2>

<div class="buttons well">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'resultset_previous',
        'text'      => 'Back to Main Page',
        'href'      => $this->routeFromHere(array('action' => 'index', 'timestamp' => NULL, 'box_id' => NULL)),
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'page_white_excel',
        'text'      => 'Export to Excel',
        'href'      => $this->routeFromHere(array('format' => 'csv')),
    )) ?>
</div>

<h2>Totals by Shirt Size</h2>

<div class="row-fluid">
<? foreach($this->totals_per_size as $tracking_row): ?>
    <div class="span6">
        <h3><?=$tracking_row['type_text'] ?></h3>
        <table class="datatable zebra">
        	<colgroup>
            	<col width="40%" />
                <col width="15%" />
                <col width="15%" />
                <col width="15%" />
                <col width="15%" />
            </colgroup>
            <thead>
                <tr>
                	<th>Shirt Size</th>
                    <th>Starting Quantity</th>
                    <th>Ending Quantity</th>
                    <th>Damaged</th>
                    <th>Total Sold</th>
                </tr>
            </thead>
            <tbody>
            <? foreach($tracking_row['totals'] as $size_key => $size): ?>
                <tr class="input">
                    <td align="left"><?=$size['size_name'] ?></td>
                    <td align="center"><?=$size['quantity_out'] ?></td>
                    <td align="center"><?=$size['quantity_in'] ?></td>
                    <td align="center"><?=$size['quantity_damaged'] ?></td>
                    <td align="center"><?=$size['total_sold'] ?></td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
    </div>
<? endforeach; ?>
</div>

<h2>Individual Box Entries</h2>
<table class="datatable zebra">
	<colgroup>
    	<col width="3%" />
    	<col width="3%" />
    	<col width="24%" />
        <col width="10%" />
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
    </colgroup>
    <thead>
        <tr>
        	<th>&nbsp;</th>
        	<th>&nbsp;</th>
        	<th>Box ID / Note</th>
            <th>Shirt Size</th>
            <th>Starting Quantity</th>
            <th>Ending Quantity</th>
            <th>Damaged</th>
            <th>Total Sold</th>
        </tr>
    </thead>
<? foreach($this->orders_by_box as $box_id => $tracking_entries): ?>
    <thead>
    	<tr>
        	<th colspan="8"><big>Box #<a href="<?=$this->routeFromHere(array('action' => 'managebox', 'box_id' => $box_id)) ?>" title="Click to view more information about this box."><?=$box_id ?></a></big></th>
        </tr>
    </thead>
    <tbody>
    <? foreach($tracking_entries as $entry): ?>
        <tr class="<?=$entry->color ?> input">
        	<td align="center">
            <? if ($entry->isNormal() && $entry->isActive()): ?>
                <?=$this->icon(array('type' => 'png32', 'image' => 'tick', 'title' => $entry->type_name)) ?>
            <? elseif ($entry->isNormal() && !$entry->isActive()): ?>
                <?=$this->icon(array('type' => 'png32', 'image' => 'cross', 'title' => $entry->type_name)) ?>
            <? else: ?>
                <?=$this->icon(array('type' => 'png32', 'image' => 'box_down', 'title' => $entry->type_name)) ?>
            <? endif; ?>
            </td>
            <td align="center">
            <? if ($this->acl->isAllowed('admin_maroonout') && $entry->canEdit()): ?>
                <a href="<?=$this->routeFromHere(array('action' => 'deleteboxlog', 'tracking_id' => $entry->box->box_code)) ?>" title="Toggle this tracking entry's inactive flag." onclick="return confirm();"><?=$this->icon(($entry->isActive()) ? 'delete' : 'add') ?></a>
            <? else: ?>
                &nbsp;
            <? endif; ?>
            </td>
            <td align="left">
                <a href="<?=$this->routeFromHere(array('action' => 'managebox', 'box_id' => $entry->box->box_code)) ?>" title="Click to view more information about this box."><?=$entry->created_at->format('n/d/Y g:ia') ?></a>
                <br /><small><b><?=$entry->type_name ?></b> - <?=$entry->tracking_note ?></small>
            </td>
            <td align="center"><?=$entry->box->size_name ?></td>
            <td align="center"><?=$entry->quantity_out ?></td>
            <td align="center"><?=$entry->quantity_in ?></td>
            <td align="center"><?=$entry->quantity_damaged ?></td>
            <td align="center"><?=$entry->total_sold ?></td>
        </tr>
    <? endforeach; ?>
    </tbody>
<? endforeach; ?>
</table>