<?
$this->headTitle('Constitution Summary');
$this->layout()->manual = TRUE;
?>

<div class="row">
    <div class="span12">
        <div class="floating">
            <h3>Constitution Summary On File</h3>

            <p>Your organization already has a constitution summary on file. You can download the existing constitution from the <a href="<?=$this->orgRoute(array('controller' => 'files')) ?>" target="_blank">files center</a>.</p>

            <p>Have you made any changes to your constitution in the past year?</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="span4">
        <div class="floating">
            <h3>No Changes</h3>
            <h4><i>Express Renewal</i></h4>
            
            <p>Our organization has made no changes to its constitution in the last year.</p>
            
            <div class="buttons well">
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'resultset_next',
                    'href'      => $this->routeFromHere(array('renew' => 'none')),
                    'text'      => 'No Changes',
                )) ?>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="floating">
            <h3>Minor Changes</h3>
            <h4><i>Express Renewal</i></h4>
            
            <p>Our organization has only changed 1-3 sections of its constitution in the last year.</p>

            <div class="buttons well">
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'resultset_next',
                    'href'      => $this->routeFromHere(array('renew' => 'minor')),
                    'text'      => 'Minor Changes',
                )) ?>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="floating">
            <h3>Major Changes</h3>
            <h4>Standard Renewal</h4>
            
            <p>Our organization has changed more than 3 sections of its constitution in the last year.</p>

            <div class="buttons well">
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'resultset_next',
                    'href'      => $this->routeFromHere(array('renew' => 'major')),
                    'text'      => 'Major Changes',
                )) ?>
            </div>
        </div>
    </div>
</div>