<ul class="nav nav-pills autoselect" rel="<?=$this->current_view ?>">
    <li rel="full"><a href="<?=$this->routeFromHere(array('view' => 'full')) ?>">Grids+Descriptions</a></li>
    <li rel="nodesc"><a href="<?=$this->routeFromHere(array('view' => 'nodesc')) ?>">Grids</a></li>
    <li rel="alpha"><a href="<?=$this->routeFromHere(array('view' => 'alpha')) ?>">Alphabetical</a></li>
</ul>