/**
 * Common include for general/jQuery UI functionality.
 */

@import url("bootstrap/css/bootstrap-responsive.min.css");

@media (max-width: 980px) {
	.navbar-fixed-top {
		margin-bottom: 0;
	}
	
	div.navbar-wrapper .navbar-inner {
		border-bottom: 0;
		border-top: 0;
	}

	.narrow-block,
	.mobile-block {
		display: block;
	}
	.narrow-inline,
	.mobile-inline {
		display: inline;
	}
	.wide-block,
	.wide-inline {
		display: none;
	}
	
	.nav-collapse.collapse {
		padding-bottom: 10px;
	}
	.navbar .brand {
		display: block;
	}
	.navbar-inner ul.nav li a {
		line-height: 14px;
		padding: 2px 2px 2px 10px;
	}
	.nav-collapse .caret {
		display: none;
	}
	.nav-collapse .nav > li > .dropdown-menu::after {
		display: none;
	}
	.nav-collapse .nav > li > a,
	.nav-collapse .dropdown-menu a {
		color: #FFF;
		background: none;
	}
	.nav-collapse .nav > li > a:hover,
	.nav-collapse .dropdown-menu a:hover {
		background: none;
	}
}

@media (max-width: 767px) {
	body {
		padding-left: 0;
		padding-right: 0;
	}
	body div#body {
		background: #FFF;
		border-radius: 0;
		margin-bottom: 0;
	}

	body .row {
		margin-left: 0px;
	}
	
	.container {
		width: auto;
	}
	
	html.embed_layout {
		background: #FFF;
	}

	div.floating {
		border: 0;
		padding: 0;

		margin-left: 20px;
		margin-right: 20px;
		
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
	}
	
	#content_tabs {
    margin-left: 0;
    margin-right: 0;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .navbar .container {
		width: 764px;
	}
	.row {
		margin-left: 0px;
	}
}

@media (min-width: 1200px) {
	.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .navbar .container {
		width: 1210px;
	}
	.row {
		margin-left: -10px;
	}
	div.floating, div.floating-wrapper {
		margin-bottom: 30px;
	}
}