<?php
$q = strip_tags($this->q);

if ($this->type == "name")
    $this->headTitle('Search Results: "'.$q.'"');
else
    $this->headTitle('Search Results');

$this->layout()->tabs = $this->renderHere('results_tabs');
?>
<div class="tab-content">
    <div class="tab-pane active" id="results_orgs">
        <h2>Organizations</h2>

    <? if (count($this->results['orgs']) > 0): ?>
        <?=$this->renderCommon('orgs', array('orgs' => $this->results['orgs'])) ?>
    <? else: ?>
        <p>Your search did not return any student organizations. Try refining your query and searching again.</p>
    <? endif; ?>
    </div>
<? if (count($this->results['users']) > 0): ?>
    <div class="tab-pane" id="results_users">
        <h2>StuAct Online Users</h2>

        <table class="table table-striped" width="100%">
            <colgroup>
                <col width="5%">
                <col width="95%">
            </colgroup>
            <tbody>
            <? foreach($this->results['users'] as $user): ?>
                <tr class="input">
                    <td class="right"><img src="<?=$user['avatar'] ?>" alt="Avatar"></td>
                    <td>
                        <div><big><?=$user['lastname'] ?>, <?=$user['firstname'] ?></big> - <a href="<?=$this->route(array('module' => 'account', 'controller' => 'profile', 'id' => $user['id'])) ?>"><?=$user['username'] ?></a> - <?=$user['uin'] ?> - UID #<?=$user['id'] ?></div>
                    <? if ($user['title']): ?>
                        <div><small><?=$user['title'] ?></small></div>
                    <? endif; ?>
                    </td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
    </div>
<? endif; ?>
<? if ($this->results['web_url']): ?>
    <div class="tab-pane" id="results_web">
        <h2>StuAct Web Pages</h2>

        <p>To search the web for your query, click the button below.</p>

        <div class="buttons">
            <?=$this->button(array(
                'type'      => 'link',
                'icon'      => 'icon-search',
                'href'      => $this->results['web_url'],
                'text'      => 'Search the Web',
                'target'    => '_blank',
            )) ?>
        </div>

        <? /*
        <table class="datatable zebra">
            <tbody>
            <? foreach($this->results['web'] as $web): ?>
                <tr>
                    <td align="left">
                        <big><a href="<?=$web['ClickUrl'] ?>"><?=$web['Title'] ?></a></big><br>
                        <?=$web['Summary'] ?>
                    </td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
        */ ?>
    </div>
<? endif; ?>
</div>