<form class="form-stacked" action="<?=$this->routeFromHere(array('q' => NULL)) ?>" method="get">

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#results_orgs"><i class="icon-group"></i> Organizations <span class="label"><?=count($this->results['orgs']) ?></span></a></li>
<? if (count($this->results['users']) > 0): ?>
    <li><a data-toggle="tab" href="#results_users"><i class="icon-user"></i> Users <span class="label"><?=count($this->results['users']) ?></span></a></li>
<? endif; ?>
<? if ($this->results['web_url']): ?>
    <li><a data-toggle="tab" href="#results_web"><i class="icon-globe"></i> Web Pages<!-- <span class="label"><?=count($this->results['web']) ?></span>--></a></li>
<? endif; ?>
</ul>

<? if ($this->type == "name"): ?>
	<input type="text" name="q" value="<?=$this->q ?>" class="pull-right span3 search-query">
<? endif; ?>