<?php
$this->headTitle('Advanced Features');
$this->layout()->manual = TRUE;
?>

<div class="row">
    <div class="span8">
        <div class="floating">
            <h3>Your Drupal Site</h3>
            
            <h4>Getting Started with Drupal Tutorial</h4>
            <p>If you're new to the Drupal system and want more information about how to get started, click the button below to watch a guided tutorial by our department's Information Technology team. This tutorial will explain what Drupal is and how it works, and will show you how to create pages, customize your site, and add pictures and documents.</p>
            
            <div class="buttons well">
                <?=$this->button(array(
                    'type'      => 'link',
                    'class'     => 'primary',
                    'icon'      => 'information',
                    'href'      => $this->route(array('module' => 'help', 'controller' => 'tutorial', 'video' => 'drupal')),
                    'text'      => 'Getting Started with Drupal',
                )) ?>
            </div>

            <h4>Install Modules &amp; Themes</h4>
            <p>If you find a module or theme on <a href="http://www.drupal.org/" target="_blank">drupal.org</a> that you want to add to your web site, enter the "project name" of the module or theme. You can find this name in the web address of the Drupal page, i.e. for the Views module, the URL is http://www.drupal.org/project/<b>views</b>, so the project name is "views". The system will automatically find the latest compatible version of the module or theme and install it for you.</p>

            <form action="<?=$this->routeFromHere(array('action' => 'drupalinstallcontent')) ?>" class="df-form form-stacked" method="post">
            <div class="clearfix">
                <label for="text">Module/Theme Project Name:</label>
                <input type="text" name="project" class="full-width">
            </div>
            
            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'submit',
                    'icon'      => 'cog_go',
                    'text'      => 'Install Content',
                )) ?>
            </div>
            </form>
        </div>
    </div>
    <div class="span4">
        <div class="floating">
            <h3>Web Site Info</h3>
            <p>Your organization is hosted by the Department of Student Activities.</p>

            <dl>
                <dt>Primary Address:</dt>
                <dd><?=$this->link('http://'.$this->organization->it_web_addr) ?></dd>
                
                <dt>Secondary Address:</dt>
                <dd><?=$this->link('http://stuorg-sites.tamu.edu/~'.$this->organization->it_web_username) ?></dd>
                
                <dt>Secure Address:</dt>
                <dd><?=$this->link('https://stuorg-secure.tamu.edu/~'.$this->organization->it_web_username) ?></dd>
            </dl>
        </div>
        <div class="floating">
            <h3>cPanel Accounts</h3>

            <h4>Master Account Password</h4>

            <p><big><?=$this->organization->it_web_password ?></big></p>

            <p>This password allows you to access your organization's web, e-mail, and Drupal resources. It is automatically changed every 90 days to ensure that only current organization officers have access to these resources. A notification will appear on this page 10 days before any scheduled password change.</p>

            <p>You can manually reset this password at any time by clicking the link below. Once reset, your new master password will remain valid for 90 days.</p>

            <div class="buttons well">
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'key_go',
                    'class'     => 'warning confirm-action',
                    'href'      => $this->routeFromHere(array('action' => 'resetpassword')),
                    'text'      => 'Reset Master Password',
                )) ?>
            </div>

            <h4>cPanel Administration</h4>
            <p>You can manage the advanced features included with your web account through cPanel. To log in to cPanel, click the button below.</p>

            <div class="buttons well">
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'cog_go',
                    'href'      => $this->routeFromHere(array('action' => 'cpanellogin')),
                    'text'      => 'Log In to cPanel',
                )) ?>
            </div>
        </div>
    </div>
</div>