<?
$view_data = $this->record->getViewData();

$tabs = array();
if ($view_data)
{
	foreach($view_data as $section_name => $html)
	{
		$tabs[] = array(
			'class' => '',
			'id'	=> strtolower(preg_replace("/[^a-zA-Z0-9]/", "", $section_name)),
			'name'	=> ucwords(str_replace('_', ' ', $section_name)),
			'html'	=> $html,
		);
	}

	$tabs[0]['class'] = 'active';
}
?>

<div class="tabbable">
	<ul class="nav nav-tabs">
	<? foreach($tabs as $tab): ?>
		<li class="<?=$tab['class'] ?>"><a data-toggle="tab" href="#<?=$tab['id'] ?>"><?=$tab['name'] ?></a></li>
	<? endforeach; ?>
	</ul>

	<div class="tab-content">
	<? foreach($tabs as $tab): ?>
		<div class="tab-pane <?=$tab['class'] ?>" id="<?=$tab['id'] ?>">
			<h2><?=$tab['name'] ?></h2>
			<?=$tab['html'] ?>
		</div>
	<? endforeach; ?>
	</div>
</div>