<?
$this->headTitle('Submit SLI Journal Entry');
?>
<form action="" id="sli_submission_form" method="post" class="validate">
<dl>
	<dt>Description of event/activity:</dt>
    <dd><textarea name="entry[description]" class="required full-width half-height"></textarea></dd>
    
    <dt>What are the three most valuable things that you took away from the session?</dt>
    <dd><textarea id="entry_valuablethings" name="entry[valuablethings]" class="required minlength full-width full-height"></textarea></dd>
    <dd id="entry_valuablethings_info" class="error">&nbsp;</dd>
    
    <dt>How will you apply this information to your current position/organization?</dt>
    <dd><textarea id="entry_applicability" name="entry[applicability]" class="required minlength full-width full-height"></textarea></dd>
    <dd id="entry_applicability_info" class="error">&nbsp;</dd>
    
    <dt>How will this information help you contribute to A&amp;M's goal of improving "accountability, climate, and equity" on our campus?</dt>
    <dd class="info">For more information, see the <a href="http://diversity.tamu.edu/Documents/DiversityPlan.pdf">University Diversity Plan</a>.</dd>

    <dd><textarea id="entry_ace" name="entry[ace]" class="required minlength full-width full-height"></textarea></dd>
    <dd id="entry_ace_info" class="error"></dd>
        
    <dt>What did you learn in this session that applies to your coursework, and/or what have you learned in the classroom that applies to this session?</dt>
    <dd><textarea id="entry_usefulness" name="entry[usefulness]" class="required minlength full-width full-height"></textarea></dd>
    <dd id="entry_usefulness_info" class="error">&nbsp;</dd>
</dl>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'submit',
		'class'		=> 'positive',
		'icon'		=> 'email_go',
		'text'		=> 'Submit Entry',
	)) ?>
</div>
</form>

<script type="text/javascript">
var word_min = 50;
var meets_word_requirement;

$(function() {
	$('#sli_submission_form').submit(function() {
		meets_word_requirement = true;

		$('textarea.minlength').each(function() {
			var word_count = checkWordCount($(this))-1;
			if (word_count <= word_min)
				meets_word_requirement = false;
		});
		
		if (!meets_word_requirement)
		{
			alert('One or more of the fields does not meet the word minimum requirement! Please correct this and submit again.');
			return false;	
		}
	});
	
	$('textarea.minlength').keyup(function() {
		checkElementWordCount($(this));
	});
	
	$('textarea.minlength').each(function() {
		checkElementWordCount($(this));
	});
});

function checkElementWordCount(element)
{
	var element_id = element.attr('id');
	var word_count = checkWordCount(element)-1;
	
	var info_element = $('#'+element_id+'_info').removeClass('error valid');
	if (word_count <= word_min)
		info_element.addClass('error');
	else
		info_element.addClass('valid');
	
	info_element.html('You have entered '+word_count+' of the required '+word_min+' words.');
}
</script>