<h2>User COMPASS Data Report</h2>


<? if ($this->grades): ?>
    <h3>GPA Data</h3>

    <dl class="dl-horizontal">
    <? foreach($this->grades as $grade): ?>
        <dt><?=$grade['term_name'] ?></dt>
        <dd><?=$grade['gpa'] ?></dd>
    <? endforeach; ?>
    </dl>
<? endif; ?>

<? if ($this->conduct): ?>
    <h3>Conduct Flags</h3>

    <dl class="dl-horizontal">
    <? foreach($this->conduct as $conduct_row): ?>
        <dt>Start Date:</dt>
        <dd><?=date('F j, Y', $conduct_row['effective_start']) ?></dd>
        <dt>End Date:</dt>
        <dd><?=date('F j, Y', $conduct_row['effective_end']) ?></dd>
    <? endforeach; ?>
    </dl>
<? endif; ?>

<? if ($this->compass): ?>
    <h3>Compass Student Record</h3>

    <table class="table table-condensed">
        <colgroup>
            <col width="30%">
            <col width="70%">
        </colgroup>
        <tbody>
        <? foreach($this->compass as $record_row): ?>
            <tr>
                <td><b><?=$record_row['key'] ?></b></td>
                <td><?=$record_row['val'] ?></td>
            </tr>
        <? endforeach; ?>
        </tbody>
    </table>
<? endif; ?>