<?php
$this->layout()->manual = TRUE;
?>

<div class="row equal-heights">
	<div class="span4">
		<div class="floating">
			<a class="thumbnail fancybox" href="#dialog_avatar" target="_blank" style="float: right;"><img src="<?=$this->record->getAvatar(64) ?>" alt="Avatar"></a>

			<h2>Profile</h2>

			<div class="buttons btn-group">
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'vcard_edit',
					'class'		=> 'primary',
					'href'		=> $this->routeFromHere(array('action' => 'edit')),
					'text'		=> 'Edit Profile',
				)) ?>
			<? if ($this->acl->isAllowed('administer all')): ?>
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'key_go',
					'text'		=> 'Log In',
					'href'		=> $this->route(array('module' => 'account', 'controller' => 'login', 'action' => 'impersonate', 'uin' => $this->record->uin)),
				)) ?>
			<? endif; ?>
			</div>

			<h3><?=$this->record->firstname ?> <?=$this->record->lastname ?></h3>
			<div><?=$this->mailto($this->record->email) ?></div>
			<div><?=$this->record->phone ?></div>
			<address><?=$this->record->address ?></address>

		<? if ($this->admin_mode && $this->roles): ?>
			<h3>System Roles</h3>
			<ul class="unstyled"><li><?=implode('</li><li>', $this->roles) ?></li></ul>
		<? endif; ?>
		</div>
	</div>
	<div class="span4">
		<div class="floating">
			<?=$this->icon(array(
				'type' => 'png32',
				'image' => ($this->record->flag_training != 0) ? 'tick' : 'cross',
				'style' => 'float: right',
			)) ?>

			<h2>Training</h2>

			<div class="buttons">
			<? if ($this->admin_mode): ?>
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'arrow_refresh',
					'class'		=> 'primary',
					'text'		=> 'Resynchronize',
					'href'		=> $this->route(array('module' => 'training', 'controller' => 'manage', 'action' => 'resyncuser', 'id' => $this->record->id)),
				)) ?>
			<? else: ?>
				<?=$this->button(array(
					'type' 		=> 'link',
					'icon'		=> 'flag_blue',
					'class'		=> 'primary',
					'href'		=> $this->route(array('module' => 'training')),
					'text'		=> 'Training Center',
				)) ?>
			<? endif; ?>
			</div>

			<? if ($this->record->flag_training != 0): ?>
				<p>You met the training requirement on <?=date('F j, Y', $this->record->flag_training_timestamp) ?>. You can renew your training at any time by visiting the <a href="<?=$this->route(array('module' => 'training')) ?>">Training Center</a>.</p>
			<? else: ?>
				<p>You do not currently meet the training requirement for your position in one or more organizations. Visit the <a href="<?=$this->route(array('module' => 'training')) ?>">Training Center</a> for more information and to complete the remaining requirements.</p>
			<? endif; ?>
		</div>
	</div>
	<div class="span4">
		<div class="floating">
			<?=$this->icon(array(
				'type' => 'png32',
				'image' => ($this->is_eligible_active) ? 'tick' : 'cross',
				'style' => 'float: right',
			)) ?>

			<h2>Eligibility</h2>

			<div class="buttons">
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'information',
					'class'		=> 'primary fancybox',
					'href'		=> '#dialog_eligibility',
					'text'		=> 'More Information',
				)) ?>
			</div>

		<? if ($this->is_eligible_active): ?>
			<p>You are <b>currently eligible</b> to fill an officer position within a student organization based on your grades in the <?=$this->current_term_name ?> term.</p>
		<? else: ?>
			<p>You are <b>not currently eligible</b> to fill an officer position within a student organization based on your grades in the <?=$this->current_term_name ?> term.</p>
		<? endif; ?>
		</div>
	</div>
</div>
<div class="row equal-heights">
	<div class="span4">
		<div class="floating">
			<h2>Strengths</h2>

		<? if ($this->strengths): ?>
			<div class="buttons">
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'information',
					'class'		=> 'primary fancybox',
					'href'		=> '#dialog_strengths',
					'text'		=> 'Descriptions',
				)) ?>
			</div>

			<table class="table table-condensed">
				<tbody>
				<? foreach($this->strengths as $name => $desc): ?>
					<tr>
						<td><?=$name ?></td>
					</tr>
				<? endforeach; ?>
				</tbody>
			</table>
		<? else: ?>
			<p>You have not submitted your strengths to StuAct Online yet. If you have completed the StrengthsQuest online questionnaire and received your "top five" strengths, you can list them in your StuAct Online profile. You can also compare your strengths with others in your organization(s) and view detailed descriptions of each strength.</p>
		<? endif; ?>
		</div>
	</div>
	<div class="span4">
		<div class="floating">
			<h2>Organizations</h2>

			<div class="buttons">
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'add',
					'class'		=> 'success',
					'text'		=> 'Add Organization',
					'href'		=> $this->route(array('module' => 'organization', 'controller' => 'add')),
				)) ?>
			</div>

		<? if (count($this->record->officer_positions) > 0): ?>
			<table class="table table-condensed">
				<tbody>
				<? foreach($this->record->officer_positions as $position): ?>
					<tr>
						<td>
							<small><b><?=$position->name ?></b> of </small><br>
							<a href="<?=$position->organization->base_url ?>"><?=$position->organization->name ?></a>
						</td>
					</tr>
				<? endforeach ?>
				</tbody>
			</table>
		<? else: ?>
			<p>You are not currently listed on the roster of any organizations. If you are currently the advisor or student officer of an organization, click the button above to add your name to the group's roster.</p>
		<? endif; ?>
		</div>
	</div>
	<div class="span4">
		<div class="floating">
			<h2>More Resources</h2>

			<dl>
				<dt><a href="<?=$this->routeFromHere(array('action' => 'history')) ?>" class="fancybox fancybox.ajax">History</a></dt>
				<dd>View the detailed history of actions that affect your StuAct Online account.</dd>

			<? if ($this->acl->isAllowed('admin_sims')): ?>
				<dt><a href="<?=$this->routeFromHere(array('action' => 'compass')) ?>" class="fancybox fancybox.ajax">View COMPASS Data</a></dt>
				<dd>View this user's student record and detailed grade information.</dd>
			<? endif; ?>
			</dl>

		</div>
	</div>
</div>

<!-- Dialog Boxes -->

<div id="dialog_avatar" style="display: none;">
	<img src="<?=$this->record->getAvatar(128) ?>" alt="Avatar" style="float: right">

	<h2>Avatar</h2>

	<div class="buttons">
		<?=$this->button(array(
			'type'		=> 'link',
			'target'	=> '_blank',
			'icon'		=> 'photo',
			'class'		=> 'primary',
			'href'		=> 'http://www.gravatar.com/',
			'text'		=> 'Set Up Avatar',
		)) ?>
	</div>

	<p>StuAct Online includes avatars powered by Gravatar in rosters and user profiles. An avatar is a small photo used to universally identify you to any web sites that support it. This allows advisors and officers of your organizations to easily identify you.</p>

	<p>To set up your avatar:</p>
	<ul>
		<li>Visit <a href="http://www.gravatar.com/" target="_blank">gravatar.com</a> and create a new account with your preferred e-mail address in this system. If you already have an account with Gravatar under a different address, you can add an additional e-mail address to it or change your primary e-mail address.</li>
		<li>Upload a photo through the Gravatar web site and specify it as your primary avatar for all sites. Be sure to select the "G" rating for the image (and use a G-rated photo), or it will not appear on this web site.</li>
		<li>After a few minutes, your avatar will appear next to your name on this page, your personal homepage, and the rosters of your organizations.</li>
	</ul>
</div>

<div id="dialog_strengths" style="display: none;">
	<h2>Strengths</h2>

	<dl>
	<? foreach($this->strengths as $name => $desc): ?>
		<dt><?=$name ?></dt>
		<dd><?=$desc ?></dd>
	<? endforeach; ?>
	</dl>
</div>

<div id="dialog_eligibility" style="display: none;">
	<h2>Eligibility</h2>

	<? if ($this->admin_mode): ?>
	<div class="buttons">
		<?=$this->button(array(
			'type'		=> 'link',
			'icon'		=> 'arrow_refresh',
			'class'		=> 'primary',
			'text'		=> 'Reload Grade Cache',
			'href'		=> $this->routeFromHere(array('action' => 'reloadeligibility')),
		)) ?>
	</div>
	<? endif; ?>

	<p>Your current student status, GPR, and any applicable conduct probation are included in the determination of eligibility. If eligibility checks are upcoming for a new term, you will also see whether you will be eligible in the new term.</p>

	<p><b>Note:</b> This page does not show you any exemptions that you may have with specific organizations.</p>

	<h3>Current Eligibility Check</h3>
    
    <dl>
    	<dt>Current semester grades being checked:</dt>
        <dd><?=$this->current_term_name ?> &amp; Cumulative</dd>
        
        <dt>Your eligibility status:</dt>
        <dd><? if ($this->is_eligible_active): ?>Eligible<? else: ?>Not Eligible<? endif; ?></dd>
    </dl>

    <h3>Upcoming Eligibility Check</h3>
    
    <dl>
    	<dt>Upcoming semester grades to be checked:</dt>
        <dd><?=$this->alternate_term_name ?> &amp; Cumulative</dd>
        
        <dt>Your eligibility in the upcoming term:</dt>
        <dd><? if ($this->is_eligible_alternate): ?>Eligible<? else: ?>Not Eligible<? endif; ?></dd>
    </dl>

    <h3>If You Are Ineligible</h3>
    
    <p>Several factors can contribute to your ineligibility, including:</p>
    
    <ul>
        <li>Insufficient semester and/or cumulative GPR</li>
        <li>Conduct standing</li>
        <li>Departure from the university</li>
    </ul>

    <p><b>If you are a first year, transfer, or graduate student:</b><br />
    Contact Student Activities at 979-845-1133 for assistance in updating your status in StuAct Online.</p>
    
    <p><b>If you are ineligible due to an insufficient GPR:</b><br />
    Visit the <a href="http://studentactivities.tamu.edu/gradeexempt">GPR Exemption Information Page</a>.</p>
    
    <p><b>If you are requesting to fill a position in a Greek Life organization:</b><br />
    Contact the Department of Greek Life at 979-862-5636 to begin the GPR appeal process. You must still contact Student Activities if you intend to serve as an officer in any non-Greek organizations.</p>
    
    <p><b>If you are an organization advisor:</b><br />You are not required to meet GPR requirements and may disregard this section.</p>
</div>