<?
$this->headTitle('My Registered Events');
?>

<? if ($this->events): ?>
    <table class="datatable zebra" width="100%">
        <colgroup>
            <col width="25%" />
            <col width="75%" />
        </colgroup>
        <tbody>
        <? foreach($this->events as $event): ?>
            <tr class="input">
                <td align="center"><?=$event->getDateText(2) ?></td>
                <td align="left">
                    <big><?=$event->getTitle() ?></big>
                <? if ($event['location']): ?>
                    <br><b><?=$event['location'] ?></b>
                <? endif; ?>
                <? if ($event['description']): ?>
                    <blockquote><?=$event['description'] ?></blockquote>
                <? endif; ?>
                <? if ($event->getRelativeTime() == "future"): ?>
                    <div class="smallbuttons">
                        <?=$this->button(array(
                            'type'      => 'small',
                            'icon'      => 'delete',
                            'text'      => 'Unregister',
                            'href'      => $this->routeFromHere(array('action' => 'unregister', 'id' => $event['id'])),
                        )) ?>
                    </div>
                <? endif; ?>
                </td>
            </tr>
        <? endforeach; ?>
        </tbody>
    </table>
<? else: ?>
    <p>You are not currently registered for events.</p>
<? endif; ?>