<?php
$this->headTitle('Log In to Camps Form');
$this->layout()->manual = true;
?>

<div class="row">
	<div class="span6">
		<div class="floating">
			<div class="alert alert-block info">
				<h4>You have requested access to a site that requires authentication.</h4>
				<p>This computer system and data herein are available only for authorized purposes by authorized users. Use for any other purpose may result in administrative/disciplinary actions or criminal prosecution against the user. Usage may be subject to security testing and monitoring. Applicable privacy laws establish the expectations of privacy.</p>
			</div>
			<?=$this->form->render() ?>
		</div>
	</div>
	<div class="span6">
		<div class="floating">
			<h2>Log In with NetID</h2>
			<p>If you have a NetID account, you can use it to log in and access the Camps Form. Click the button below to log in using your NetID.</p>

			<div class="buttons">
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'key_go',
					'class'		=> 'large primary',
					'href'		=> $this->route(array('module' => 'account', 'controller' => 'login')),
					'text'		=> 'Log In with NetID',
				)) ?>
			</div>
		</div>
		<div class="floating">
			<h2>Create New Camps Account</h2>
			<p>If you do not already have a Camps Form account, click the button below to sign up for a new account.</p>

			<div class="buttons">
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'asterisk_yellow',
					'class'		=> 'large primary',
					'href'		=> $this->routeFromHere(array('action' => 'register')),
					'text'		=> 'Create New Account',
				)) ?>
			</div>
		</div>
	</div>
</div>