<h2>Organization Restricted</h2>

<?=$this->org->email_header ?>

<p>Your organization has failed to complete the recognition renewal process for the upcoming year. As a result, your organization is now "Recognized with Restrictions." You will have until <b><?=date('F j, Y', $this->time_of_suspension) ?></b> to restore your organization to "Recognized" status. If you do not complete the recognition renewal process within this time, your organization will lose its status as a recognized student organization.</p>

<h3>What is Restricted Status?</h3>

<p>If an organization fails to meet all recognition requirements within the allotted time frame, it will become &quot;Restricted.&quot;  Restricted organizations are still considered active but have limited access to campus resources (including facility reservations, SOFC accounts, concessions permits, etc.)   &quot;Recognized&quot; status may be restored by fulfilling all outstanding recognition requirements.</p>

<h3>Outstanding Recognition Requirements</h3>

<p>Currently, the following requirements are not met:</p>

<?
include('unmet_flags.phtml');
?>

<p>Check the "My Important Messages" section of your StuAct Online homepage for more information about these requirements and links to complete them.</p>

<h3>For More Information</h3>

<p>If you have any questions about the annual recognition process, please contact the Department of Student Activities at 979-862-2953.</p>