<h2>Warning! Restriction Approaching</h2>

<?=$this->org->email_header ?>

<p>Your organization does not yet meet the recognition renewal requirements for the upcoming year. As a result, your organization will soon become "Restricted." You will have until <b><?=date('F j, Y', $this->time_of_restriction) ?></b> to restore your organization to "Recognized" status. We encourage you to take this opportunity to meet any remaining recognition requirements before your status changes.</p>

<h3>What is Restricted Status?</h3>

<p>If an organization fails to meet all recognition requirements within the allotted time frame, it will become restricted.  Restricted organizations are still considered active but have limited access to campus resources (including facility reservations, SOFC accounts, concessions permits, etc.)   Recognized status may be restored by fulfilling all outstanding recognition requirements.</p>

<h3>Outstanding Recognition Requirements</h3>

<p>Currently, the following requirements are not met:</p>

<?
include('unmet_flags.phtml');
?>

<p>Check the "My Important Messages" section of your StuAct Online homepage for more information about these requirements and links to complete them.</p>

<h3>For More Information</h3>

<p>If you have any questions about the annual recognition process, please contact the Department of Student Activities at 979-862-2953.</p>