<h2>Organization Status Change</h2>

<?=$this->org->email_header ?>

<p>This organization's recognition status has been changed from "<b><?=$this->additional_info['old_status_text'] ?></b>" to "<b><?=$this->additional_info['new_status_text'] ?></b>". If you have any questions regarding this status change, please contact the Department of Student Activities at 979-862-2953.</p>

<p>
To view your organization's progress on the recognition checklist, visit this page:<br>
<?=$this->link($this->org->route(array('controller' => 'recognition'))) ?>
</p>