<h2>Student Activities CNAME Add/Remove Request(s)</h2>

<p><b>>> Please place in the Networking queue for processing. <<</b></p>

<p>The following Student Organization CNAME change requests have been submitted:</p>

<dl>
<? foreach($this->cname_requests as $request): ?>
    <dt><?=$request['domain'] ?></dt>
    <dd>
    <? if ($request['new_location'] != 0): ?>
        New Domain
    <? else: ?>
        Remove Domain
    <? endif; ?>
    </dd>
<? endforeach; ?>
</dl>

<p>All CNAME domains should point to "stuorg-sites.tamu.edu". If the domain name listed is already registered by a non-DSA party, please forward to the Drupal - StuOrgs queue for further clarification.</p>