<h2>Getting Started with Drupal</h2>

<?=$this->org->email_header ?>

<p>Your organization is now using the Drupal Content Management System. Drupal is a template-based web site creation tool that allows you to build and maintain your web site directly from your web browser, with no web site management or software experience required.</p>

<p>In just a few minutes, your new Drupal site can be complete and ready for visitors. A quick guide to getting started with your new Drupal site is included below.</p>

<h3>Creating Content</h3>
<ol type="1">
	<li>
        <b>Log In</b><br>
        You can automatically log in to your Drupal site by visiting the link below. This link is also located on your organization's Web/E-mail tab inside StuAct Online.<br>
        <?=$this->link($this->org->route(array('controller' => 'web'))) ?>
    </li>
    <li>
        <b>Click "Create Content" and Choose a Content Type</b><br>
        Once logged in, you will see a link on the right column of the web site labeled "Create Content". This page lists the various types of content available for you to create. On new Drupal sites, these content types are available:
    </li>
    <ul>
    	<li><b>Pages</b> provide general information about the organization and are updated less often than Stories. Examples include "About Us", "History", "Contact Us", etc. Pages can be added to the site's header navigation menu, or set as secondary links from other pages; instructions for adding pages to the header menu can be found at the top of the "Create Page" form.</li>
        <li><b>Stories</b> are posted directly to the organization's homepage and are useful for time-sensitive information, such as an application being available, interviews being held, upcoming meeting times, etc. Normally, a summary of the first two paragraphs of a story is posted to the front page, with a "Read More" link to the full article. This can be changed from the "node settings" page</a>.</li>
        <li><b>Web Forms</b> are interactive pages, like feedback forms, registration, or questionnaires, that users can complete and submit to a database. Submissions can also be sent via e-mail to the organization and copied to the submitter.</li>
    </ul>
    <li>
        <b>Complete the Form and Click "Submit"</b><br>
        Pages and stories both require a title and main body. Complete these fields, then click the "Submit" button at the bottom of the page to create the content. Several extra sections are available on this form, which can be accessed at any time by visiting the created page while logged in and clicking the "Edit" tab at the top of the page.
    </li>
</ol>

<h3>Enhancing Your Site</h3>
<ul>
	<li><b>Changing the Theme and Header Images</b><br>
    The overall theme of your site and the images that rotate on the site's header are managed through the StuAct Online system. A new item on your organization's profile is now available: <a href="<?=$this->org->route(array('controller' => 'web')) ?>">My Drupal Site</a>. From this page, you can view your site's login information, change the site's theme at any time, and add/remove header images.</li>
    <li><b>Attaching Word/PDF/Excel Documents</b><br>
    You can attach Word documents, PDFs, Excel spreadsheets, and images to any page on your Drupal site. To attach a file to a page:</li>
    <ul>
    	<li>Visit the page and click the "Edit" tab.</li>
        <li>Click the "File Attachments" link, which will open a new panel.</li>
        <li>Upload the file from your computer, then click "Submit" at the bottom of the page to save your changes.</li>
		<li>Any attached files will appear at the bottom of the page with a link to download the file directly.</li>
    </ul>
    <li><b>Adding Pictures</b><br>
    Using the File Attachments feature above, you can also include pictures alongside the text on your page. To add a picture to a page:</li>
    <ul>
    	<li>Visit the page and click the "Edit" tab.</li>
        <li>Open the "File Attachments" panel and upload the image from your computer.</li>
        <li>Next to the newly uploaded picture, uncheck the checkbox labeled "List" to prevent the picture from appearing on the bottom of the page.</li>
        <li>Locate the picture's URL underneath the description field in small text. The URL begins with "http://" and contains "files". Copy this entire line.</li>
        <li>On the toolbar of the text editor for the page's body, click the small icon that looks like a photo of a tree.</li>
        <li>In the window that pops up, paste the URL you just copied into the "Image URL" field.</li>
        <li>Click "Insert" to add the picture to the page, then click "Submit" at the bottom of the main form to save your changes.</li>
    </ul>
</ul>

<h3>For More Information</h3>
<ul>
	<li><b>Student Activities Hosting Support</b><br>
    Support for the Student Activities organization hosting service is provided by the Department of Information Technology. If you have any questions about your Drupal web site, general hosting, or e-mail addresses associated with your organization's cPanel account, reply to this e-mail to contact the Information Technology team.</li>
    <li><b>Third-Party Drupal Add-Ons</b><br>
    The Drupal community offers hundreds of additional themes and modules which can be added to your Drupal site. These add-ons can be found on <a href="http://www.drupal.org/">Drupal's homepage</a>. You can install the themes and modules you find on Drupal's web site by visiting your "Web & E-mail" page inside StuAct Online.</li>
</ul>