<h2><?=$this->subject ?></h2>

<?=$this->org->email_header ?>

<p>This organization has submitted a request for a new web account, using the domain name <b><?=$this->additional_info['address'] ?></b>.</p>

<p>
	To manage pending organization web and e-mail account requests, visit this page:<br>
	<?=$this->link($this->route(array('module' => 'admin', 'controller' => 'webs'))) ?>
</p>