<h2>Enhanced Expectations Annual Reminder</h2>

<?=$this->org->email_header ?>

<p>The organization above is listed as renewing its enhanced expectations annually, and recently became "In Transition" as a result of a recognition cycle change.</p>