<?
$this->headTitle('Training Module');
$this->layout()->manual = true;

$this->placeholder('content_top')->set($this->renderHere('progress'));
?>

<div class="row">
	<div class="span12">
		<div class="floating grid_blue">
	        <?=$this->button(array(
	            'id'        => 'btn_next_step',
	            'type'      => 'link',
	            'href'      => $this->routeFromHere(array('advance' => 'next')),
	            'text'      => 'Continue to Next Step',
	            'icon'      => 'resultset_next',
	            'style'     => 'float: right',
	        )) ?>
	        
	        <? if ($this->step_info['video_alt']): ?>
	        <p>You can also <a href="<?=$this->step_info['video_alt'] ?>" target="_blank">download a text version</a> of this video.</p>
	        <? endif; ?>
	        
	        <p>When you have completed this step, click the button on the right to continue.</p>

	        <div class="clear">&nbsp;</div>
	    </div>
	    <div class="floating">
		    <? $this->headScript()->appendFile(\DF\Url::content('mediaplayer/jwplayer.js')); ?>
		    <center><div id="video_playback">Loading video...</div></center>
		</div>
    </div>
</div>

<div id="guilty-dialog" style="width: 500px; height: 300px; display: none;">
	<h2>In a Hurry?</h2>
	<p><b>It has come to our attention that you are trying to fast-forward through this training video.</b></p>
	
	<p>In providing this training series, we have made a good-faith effort to deliver convenient and relevant information for your role in your organization. In return, we ask that you take a few minutes of your time to complete the training in its entirety.</p>
	
	<p>By choosing to skip this portion of the training, you are indicating that you understand and are familiar with <i>all</i> of the expectations, rules, and concepts contained herein. </p>

	<div class="buttons well">
		<?=$this->button(array(
			'type'		=> 'link',
			'icon'		=> 'resultset_next',
			'class'		=> 'primary',
			'id'		=> 'btn_continue_anyway',
			'href'		=> '#',
			'text'		=> 'Skip Video (Not Recommended)',
		)) ?>
	</div>
</div>

<script type="text/javascript">
jwplayer("video_playback").setup({
	flashplayer: "<?=\DF\Url::content('mediaplayer/player.swf') ?>",
	skin: "<?=\DF\Url::content('mediaplayer/glow.zip') ?>",
	file: "<?=$this->step_info['video_src'] ?>",
	height: 480,
	width: 640,
	events: {
		onComplete: function() {
			window.location = $('#btn_next_step').attr('href');
		}
	}
});

var original_href;

$(function() {
	startShowingGuiltyDialog();
	setTimeout('stopShowingGuiltyDialog()', 180000);
});

function startShowingGuiltyDialog()
{
	original_href = $('#btn_next_step').attr('href');
	$('#btn_continue_anyway').attr('href', original_href);

	$('#btn_next_step').addClass('fancybox').attr('href', '#guilty-dialog');
}
function stopShowingGuiltyDialog()
{
	$('#guilty-dialog').hide();
	$('#btn_next_step').removeClass('fancybox').attr('href', original_href);
}
</script>