<?
$this->headTitle('Travel Information Form');
$this->layout()->manual = TRUE;

$this->alert($this->renderHere('index_international'), 'info');
?>

<div class="row">
    <div class="span6">
        <div class="floating grid_green">
            <h2>Start a New Form</h2>
        
        <? if ($this->orgs): ?>
            <h3>For a Registered Student Organization</h3>
            <p>Choose the organization involved in the trip from the list below:</p>

            <ul>
            <? foreach($this->orgs as $org): ?>
                <li><a href="<?=$this->routeFromHere(array('action' => 'create', 'org_id' => $org['id'])) ?>"><?=$org['name'] ?></a></li>
            <? endforeach; ?>
            </ul>
        <? endif; ?>

            <h3>For an Academic or Other University-Affiliated Group</h3>
            <p>To begin a new form as an academic or other University-affiliated group, click the button below.</p>

            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'asterisk_orange',
                    'href'      => $this->routeFromHere(arraY('action' => 'create')),
                    'text'      => 'Start as Academic or Other Group',
                )) ?>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="floating grid_gold">
            <h2>Update a Submitted Form</h2>

            <h3>My Forms</h3>
        <? if ($this->forms): ?>
            <table class="datatable zebra" width="100%">
                <colgroup>
                    <col width="5%">
                    <col width="95%">
                </colgroup>
                <tbody>
                <? foreach($this->forms as $form): ?>
                    <tr class="input">
                        <td align="center"><a href="<?=$this->routeFromHere(array('action' => 'edit', 'code' => $form['password'])) ?>" title="Edit This Form"><?=$this->icon('pencil') ?></a></td>
                        <td align="left">
                            <small><?=date('m/d/Y', $form['index_startdate']) ?> - <?=date('m/d/Y', $form['index_enddate']) ?></small><br>
                            <?=$form['index_name'] ?>
                        </td>
                    </tr>
                <? endforeach; ?>
                </tbody>
            </table>
        <? else: ?>
            <p>You have not submitted any forms yet.</p>
        <? endif; ?>

            <h3>Look Up by Password</h3>

            <form action="<?=$this->routeFromHere(array('action' => 'edit')) ?>" method="get">
            <dl>
                <dt>Form Password:</dt>
                <dd class="info">This code is in the form "12345-a1b23".</dd>
                <dd><input type="password" class="full-width" name="code" autocomplete="off"></dd>
            </dl>

            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'submit',
                    'icon'      => 'resultset_next',
                    'text'      => 'Update Form',
                )) ?>
            </div>
            </form>
        </div>
    </div>
</div>