<?php
$this->headTitle('Manage Camps Forms');
$this->layout()->tabs = $this->renderHere('index_tabs');
?>

<h2>Manage Programs</h2>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'class'     => 'large success',
        'icon'      => 'icon-plus-sign',
        'text'      => 'Add New Program',
        'href'      => $this->routeFromHere(array('action' => 'editprogram')),
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'class'     => 'large',
        'icon'      => 'icon-download',
        'text'      => 'Download to Excel',
        'href'      => $this->routeFromHere(array('view' => 'all')),
    )) ?>
</div>

<form class="form-search" action="<?=$this->routeFromHere(array('page' => NULL)) ?>" method="get">
    <input type="text" name="q" title="Search terms" placeholder="Search..." class="input-medium span3 search-query" value="<?=$this->q ?>">
    <?=$this->button(array(
        'type'      => 'submit',
        'class'     => 'primary btn-small',
        'text'      => 'Search Programs',
    )) ?>
</form>
<br>

<?=$this->paginate($this->pager) ?>

<table class="datatable zebra" width="100%">
	<colgroup>
        <col width="40%">
        <col width="10%">
        <col width="50%">
    </colgroup>
    <thead>
    	<tr>
        	<th>Actions</th>
            <th>Forms</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->pager as $record): ?>
    	<tr class="input">
        	<td align="center">
                <div class="btn-group">
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'application_go',
                    'class'     => 'primary',
                    'href'      => $this->routeFromHere(array('action' => 'search', 'program_id' => $record->id)),
                    'text'      => 'Forms',
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'user',
                    'class'     => 'primary',
                    'href'      => $this->routeFromHere(array('action' => 'programusers', 'program_id' => $record->id)),
                    'text'      => 'Users',
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'pencil',
                    'href'      => $this->routeFromHere(array('action' => 'editprogram', 'program_id' => $record->id)),
                    'text'      => 'Edit',
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'delete',
                    'class'     => 'danger confirm-delete',
                    'href'      => $this->routeFromHere(array('action' => 'deleteprogram', 'program_id' => $record->id)),
                    'text'      => 'Delete',
                )) ?>
                </div>
            </td>
            <td class="center"><?=count($record->forms) ?></td>
            <td><big><?=$record->name ?></big></td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>

<?=$this->paginate($this->pager) ?>