<?php
$this->headTitle('Manage Camps Forms');
$this->layout()->tabs = $this->renderHere('index_tabs');
?>

<h2>View Routing</h2>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'href'		=> $this->routeFromHere(array('action' => 'editrouting')),
		'icon'		=> 'add',
		'class'		=> 'large success',
		'text'		=> 'New Routing Destination',
	)) ?>
</div>

<?=$this->paginate($this->pager) ?>

<table class="datatable zebra">
	<colgroup>
        <col width="20%">
		<col width="35%">
		<col width="15%">
		<col width="15%">
		<col width="15%">
	</colgroup>
	<thead>
		<tr>
            <th>Actions</th>
			<th>Department</th>
			<th>Secondary</th>
			<th>Dept Head</th>
			<th>Dean</th>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->pager as $routing): ?>
		<tr class="input">
			<td>
				<div class="btn-group">
					<?=$this->button(array(
						'type'		=> 'small',
						'icon'		=> 'pencil',
						'text'		=> 'Edit',
						'href'		=> $this->routeFromHere(array('action' => 'editrouting', 'routing_id' => $routing->id)),
					)) ?>
					<?=$this->button(array(
						'type'		=> 'small',
						'icon'		=> 'delete',
						'class'		=> 'danger confirm-delete',
						'text'		=> 'Delete',
						'href'		=> $this->routeFromHere(array('action' => 'deleterouting', 'routing_id' => $routing->id)),
					)) ?>
				</div>
			</td>
			<td><big><?=$routing->name ?></big></td>
			<td><?=$this->mailto($routing->secondary) ?></td>
			<td><?=$this->mailto($routing->dept) ?></td>
			<td><?=$this->mailto($routing->dean) ?></td>
		</tr>
	<? endforeach; ?>
	</tbody>
</table>

<?=$this->paginate($this->pager) ?>