<?php
$this->headTitle('Camps Form: '.$this->record->access_code);
$this->layout()->tabs = $this->renderHere('index_tabs');
$this->layout()->manual = true;
?>

<div class="row">
	<div class="span8">
		<div class="floating">
			<h2>Submission Details</h2>

			<?=$this->renderHere('view_tabs', TRUE) ?>
		</div>
	</div>
	<div class="span4">
		<div class="floating">
			<h2>Actions</h2>

			<?
			$urls = $this->record->getUrls();
			?>
			<ul class="unstyled">
				<li><a href="<?=$urls['edit'] ?>"><i class="icon-pencil"></i> Edit Form</a></li>
				<li><a href="<?=$this->routeFromHere(array('action' => 'setphase')) ?>" class="fancybox fancybox.ajax"><i class="icon-retweet"></i> Set Status</a> (Currently <b><?=$this->record->phase_name ?></b>)</li>
				<li><a href="<?=$this->routeFromHere(array('action' => 'setprogram')) ?>" class="fancybox fancybox.ajax"><i class="icon-user"></i> Set Associated Program</a></li>
				<li><a href="<?=$this->routeFromHere(array('action' => 'invoice')) ?>" class="fancybox fancybox.ajax"><i class="icon-shopping-cart"></i> Generate Invoice</a></li>
				<li><a href="<?=$this->routeFromHere(array('action' => 'notify')) ?>"><i class="icon-envelope"></i> Re-Send Notification</a></li>
				<li><a href="<?=$this->routeFromHere(array('action' => 'addfile')) ?>" class="fancybox fancybox.ajax"><i class="icon-folder-open"></i> Add Supplemental File</a></li>
				<li><a href="<?=$this->routeFromHere(array('action' => 'delete')) ?>" class="confirm-delete"><i class="icon-trash"></i> Archive Form</a></li>
			</ul>
		</div>
		<div class="floating">
			<h2>
				<small>Form currently assigned to:</small><br>
			<? if ($this->form->claimant): ?>
				<?=$this->form->claimant->getName(false) ?>
			<? else: ?>
				Unassigned
			<? endif; ?>
			</h2>
			
			<div class="buttons">
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'icon-signout',
					'text'		=> 'Assign to User',
					'class'		=> 'primary fancybox fancybox.ajax',
					'href'		=> $this->routeFromHere(array('action' => 'assign')),
				)) ?>
			</div>
		</div>
		<div class="floating">
			<h2>Notes <small id="notes-status"></small></h2>

			<form id="notes-form" action="<?=$this->routeFromHere(array('action' => 'setnotes')) ?>" class="df-form form-stacked" method="get">
			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#notes_private" data-toggle="tab">Private</a></li>
					<li><a href="#notes_public" data-toggle="tab">Public</a></li>
				</ul>

				<div class="tab-content">
					<div id="notes_private" class="tab-pane active">
						<div class="clearfix">
							<label for="private_notes">Private Notes:</label>
							<textarea name="private_notes" class="monitor-changes full-width full-height"><?=$this->notes['private'] ?></textarea>
						</div>
					</div>
					<div id="notes_public" class="tab-pane">
						<div class="clearfix">
							<label for="public_notes">Public Notes:</label>
							<textarea name="public_notes" class="monitor-changes full-width full-height"><?=$this->notes['public'] ?></textarea>
						</div>
					</div>
				</div>
			</div>

			<?=$this->button(array(
				'id'		=> 'btn-save-notes',
				'type'		=> 'submit',
				'icon'		=> 'disk',
				'text'		=> 'Save Notes',
			)) ?>
			</form>
		</div>

		<? if (count($this->record->incidents) > 0): ?>
		<div class="floating">
			<h2>Incident Reports</h2>

			<p>Incident(s) have been reported in association with this form. Click the links below to view each one.</p>

			<ul class="unstyled">
			<? foreach($this->record->incidents as $incident): ?>
				<li>
					<b><a href="<?=$this->routeFromHere(array('action' => 'viewincident', 'incident_id' => $incident->id)) ?>"><?=date('m/d/Y', $incident->timestamp) ?> - Report <?=$incident->id ?></a></b><br>
					<small><?=$incident->data['Description_of_incident'] ?></small>
				</li>
			<? endforeach; ?>
			</ul>
	    </div>
		<? endif; ?>

		<? if (count($this->record->logs) > 0): ?>
	    <div class="floating">
	    	<h2>Log Entries</h2>

	    	<ul class="unstyled">
	    	<? foreach($this->record->logs as $log): ?>
	    		<li><small><?=date('m/d/Y g:ia', $log->timestamp) ?></small><br><?=$log->note ?></li>
	    	<? endforeach; ?>
	    	</ul>
		</div>
		<? endif; ?>
	</div>
</div>

<script type="text/javascript">
$(function() {
	$('#btn-save-notes').click(function(e) {
		e.preventDefault();
		saveNotes();
		return false;
	});
});

function saveNotes()
{
	$('#notes-status').text('Saving notes...');
	
	$.post($('#notes-form').attr('action'), {
		public_notes: $('#notes-form textarea[name="public_notes"]').val(),
		private_notes: $('#notes-form textarea[name="private_notes"]').val(),
		ajax: true
	}, function(data) {
		if (data.status == "success")
			$('#notes-status').text(data.text);
		else
			$('#notes-status').text('Error!');
	}, 'json');
}
</script>