@charset "utf-8";
@import url("base_dark.css");

html {
	background: #000 url('dark/bootstrap_bodybg.png') top left repeat;
}

#header {
	background: url('header_dark/header_left.png') center left no-repeat;
}
#header-inner {
	background: url('header_dark/header_right.png') center right no-repeat;
}
#header-wrapper {
	background-color: #2F0000;
	background-image: -moz-linear-gradient(top, #333333, #000000);
	background-image: -ms-linear-gradient(top, #333333, #000000);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#000000));
	background-image: -webkit-linear-gradient(top, #333333, #000000);
	background-image: -o-linear-gradient(top, #333333, #000000);
	background-image: linear-gradient(top, #333333, #000000);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#000000', GradientType=0);
}

.navbar-wrapper .navbar-inner {
	background-color: #330000;
}
.navbar-inner ul.nav > li.active > a {
	background-color: #660000;
}
.navbar-inner ul.nav > li.active > a:hover {
	background-color: #990000;
}