<?
$this->headTitle('Home');
$this->layout()->manual = TRUE;
?>

<div class="row">
	<div class="span4">
		<div class="floating grid_gray">
			<h3>Recognition</h3>
			<h4>Current Status</h4>

			<?=$this->renderHere('status', TRUE) ?>

			<br>
			<h4>Checklist Overview</h4>
			<? if ($this->organization->status == ORG_STATUS_EXEMPT): ?>
				<div class="alert alert-success">
			    	This organization is exempt from the annual recognition process. No action is necessary.
			    </div>
			<? elseif ($this->organization->cycle_override == 1): ?>
				<div class="alert alert-success">
			    	Your status is currently set by a staff override. No action is required until the date listed above.
			    </div>
			<? else: ?>
			    <table class="table table-condensed" width="100%">
			        <colgroup>
			            <col width="10%" />
			            <col width="90%" />
			        </colgroup>
			        <tbody>
			        <? foreach($this->org_settings['flags'] as $flag => $flag_name): ?>
				        <tr class="input">
				            <td class="right"><?=$this->statusIcon($this->organization['flag_'.$flag], 'small') ?></td>
				            <td><?=$flag_name ?></td>
				        </tr>
				    <? endforeach; ?>
				   	</tbody>
			    </table>
			<? endif; ?>
			
			<div class="buttons">
				<?=$this->button(array(
					'type'		=> 'link',
					'class'		=> 'primary',
					'href'		=> $this->routeFromHere(array('controller' => 'recognition', 'action' => 'index')),
					'icon'		=> 'table',
					'text'		=> 'Recognition Checklist',
				)) ?>
			</div>
	    </div>

	</div>
	<div class="span4">

		<? if ($this->isAllowed('members_view')): ?>
		<div class="floating grid_blue">
			<h3>Roster</h3>

			<h4>My Current Position</h4>
			<? if ($this->current_position): ?>
				<p>You are the <b><?=$this->current_position->name ?></b> of this organization.</p>
			<? else: ?>
				<p>You are not currently associated with this organization.</p>
			<? endif; ?>

			<div class="buttons">
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'group',
					'href'		=> $this->orgRoute(array('controller' => 'roster')),
					'text'		=> 'View Roster',
					'title'		=> 'View current and pending organization advisor and leaders.',
				)) ?>
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'arrow_refresh',
					'href'		=> $this->orgRoute(array('controller' => 'roster', 'action' => 'newrequest')),
					'text'		=> 'My Position',
					'title'		=> 'Request a new position or renew your current position for the upcoming year.',
				)) ?>
			</div>
	    </div>
	    <? endif; ?>

	    <? if ($this->isAllowed('sofc_view')): ?>
	    <div class="floating grid_blue">
	    	<h3>Finances</h3>

	    	<dl>
	    		<dt><a href="<?=$this->routeFromHere(array('controller' => 'finances', 'action' => 'statements')) ?>">View Monthly Statements</a></dt>
	    		<dd>View the current and previous SOFC statements for this organization.</dt>

	    		<dt><a href="<?=$this->routeFromHere(array('controller' => 'finances', 'action' => 'sigcard')) ?>">Print Signature Card</a></dt>
	    		<dd>Generate a printable SOFC signature card.</dd>
	    	</dl>
	    </div>
	    <? endif; ?>

	</div>
	<div class="span4">

		<? if ($this->isAllowed('it_view')): ?>
		<div class="floating grid_gray">
	    	<h3>Web &amp; E-mail</h3>

	    	<? if ($this->organization->it_web_drupal): ?>
	    	<dl>
	    		<dt><a href="<?=$this->routeFromHere(array('controller' => 'web', 'action' => 'index')) ?>">View Web &amp; E-mail Account</a></dt>
	    		<dd>
	    			Your organization's web site is hosted by Student Activities. Your web address is:
	    			<div class="buttons">
	    				<?=$this->button(array(
	    					'type'		=> 'small',
	    					'icon'		=> 'icon-globe',
	    					'href'		=> 'http://'.str_replace('http://', '', $this->organization->it_web_addr),
	    					'text'		=> 'Visit '.$this->organization->it_web_addr,
	    				)) ?>
	    			</div>
	    		</dd>

	    		<dt><a href="<?=$this->routeFromHere(array('controller' => 'web', 'action' => 'login')) ?>">Log In to Web Site</a></dt>
	    		<dd>Automatically log in to manage your organization's web site.</dd>
	    	</dl>
	    	<? else: ?>
	    	<dl>
	    		<dt><a href="<?=$this->routeFromHere(array('controller' => 'web', 'action' => 'index')) ?>">Submit Web Account Request</a></dt>
	    		<dd>Your organization is not currently hosted by Student Activities.</dd>
	    	</dl>
	    	<? endif; ?>
	    </div>
	    <? endif; ?>

	    <? if ($this->isAllowed('logs_view')): ?>
	    <div class="floating grid_gray">
	    	<h3>History</h3>

	    	<dl>
	    		<dt>Most Recent Entries</dt>
	    		<dd>
					<table class="datatable zebra" width="100%">
						<tbody>
						<? foreach($this->logs as $log): ?>
							<tr class="input">
								<td align="left">
									<small><?=date('F j, Y g:ia', $log['timestamp']) ?></small><br>
									<? if ($log['user'] && $log['user_id'] != 0): ?>
										<b><?=$log['user']['firstname'] ?> <?=$log['user']['lastname'] ?>:</b> 
									<? endif; ?>
									<?=$log['message'] ?>
								</td>
							</tr>
						<? endforeach; ?>
						</tbody>
					</table>
				</dd>

				<dt><a href="<?=$this->routeFromHere(array('controller' => 'history', 'action' => 'index')) ?>">View Full History</a></dt>
				<dd>View the full history of actions relating to this organization.</dd>
			</dl>
	    </div>
	    <? endif; ?>
	</div>
</div>