<?
$this->headTitle('Camps Calendar');
?>

<? if ($this->calendar['prev_page_datecode']): ?>
	<?=$this->button(array(
		'type'		=> 'small',
		'icon'		=> 'resultset_previous',
		'text'		=> $this->calendar['prev_page_text'],
		'style'		=> 'float: left',
		'href'		=> $this->routeFromHere(array('month' => $this->calendar['prev_page_datecode'])),
	)) ?>
<? endif; ?>
<? if ($this->calendar['next_page_datecode']): ?>
	<?=$this->button(array(
		'type'		=> 'small',
		'icon'		=> 'resultset_next',
		'text'		=> $this->calendar['next_page_text'],
		'style'		=> 'float: right',
		'href'		=> $this->routeFromHere(array('month' => $this->calendar['next_page_datecode'])),
	)) ?>
<? endif; ?>
<h2 style="text-align: center"><?=$this->calendar['current_page_text'] ?></h2>
   
<table class="datatable zebra" width="100%">
	<colgroup>
		<col width="15%" />
		<col width="14%" />
		<col width="14%" />
		<col width="14%" />
		<col width="14%" />
		<col width="14%" />
		<col width="15%" />
	</colgroup>
    <tr>
        <th align="center">Sunday</th>
        <th align="center">Monday</th>
        <th align="center">Tuesday</th>
        <th align="center">Wednesday</th>
        <th align="center">Thursday</th>
        <th align="center">Friday</th>
        <th align="center">Saturday</th>
    </tr>
    <? foreach($this->calendar['days'] as $calendar_row): ?>
    <tr>
		<? foreach($calendar_row as $calendar_day): ?>
        <td style="vertical-align: top; height: 100px;" <? if ($calendar_day['disabled']): ?>class="disabled"<? endif; ?>>
            <big><?=$calendar_day['day'] ?></big><br />
            <? foreach((array)$calendar_day['records'] as $record): ?>
				<div title="Click for More Information" style="padding: 1px 0px 3px 4px; border-width: 1px 1px 1px 4px; border-style: solid; border-color: <?=$record['color'] ?>; margin-bottom: 3px;"><small>
					<a class="fancybox fancybox.ajax" href="<?=$this->routeFromHere(array('action' => 'detail', 'id' => $record['id'])) ?>"><?=$record['name'] ?></a>
				</small></div>
            <? endforeach; ?>
        </td>
        <? endforeach; ?>
    </tr>
    <? endforeach; ?>
</table>