<h2>Popular Resources</h2>

<h4>Forms</h4>
<ul>
	<li><a href="<?=$this->route(array('module' => 'form_preevent')) ?>">Pre-Event Planning Form</a></li>
    <li><a href="<?=$this->route(array('module' => 'form_travel')) ?>">Travel Information Form</a></li>
	<li><a href="/online/forms/camps">Camps Online Application</a></li>
    <li><a href="/concessions">Concessions Permits</a></li>
    <li><a href="/sandwichboards">Sandwich Board Permits</a></li>
</ul>

<h4>Resource Centers</h4>
<ul>
	<li><a href="/recognition/nso">New Student Organization (NSO) Process</a></li>
	<li><a href="/orgmanual">Organization Manual</a></li>
	<li><a href="<?=$this->route(array('module' => 'training')) ?>">Training Center</a></li>
	<li><a href="<?=$this->route(array('module' => 'batch')) ?>">Batch Manager Center</a></li>
	<li><a href="<?=$this->route(array('module' => 'advisors')) ?>">Advisor Resource Center</a></li>
</ul>