<h2>Explore Student Activities</h2>

<h4>Learn About Us</h4>
<ul>
    <li><a href="/staff">Staff Directory</a></li>
    <li><a href="/employment">Employment Opportunities</a></li>
    <li><a href="/about/hours">Hours of Operation</a></li>
    <li><a href="/about/meetingrooms">Meeting Rooms</a></li>
</ul>

<h4>Our Areas</h4>
<ul>
    <li><a href="/classcenter">Class Center</a></li>
    <li><a href="/extendedorientation">Extended Orientation</a></li>
    <li><a href="http://greeklife.tamu.edu/">Fraternity and Sorority Life</a></li>
    <li><a href="http://leadandserve.tamu.edu/">Leadership and Service Center</a></li>
    <li><a href="http://sga.tamu.edu/">Student Government Association</a></li>
    <li><a href="/soda">Student Organization Development &amp; Administration</a></li>
    <li><a href="http://sofc.tamu.edu/">Student Organization Finance Center</a></li>
</ul>