<h2>Advisor Resource Center</h2>
<p>Visit the Advisor Resource Center for helpful resources relating to your advisor position.</p>
<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'user_gray',
		'text'		=> 'Advisor Resource Center',
	)) ?>
</div>
