<div id="homepage_rotator" class="carousel" style="margin-bottom: 0;">
	<!-- Carousel items -->
	<div class="carousel-inner">
	<?
	foreach($this->rotator_items as $i => $item)
	{
		if ($i == 0)
			echo '<div class="active item">';
		else
			echo '<div class="item">';

		echo '<img src="'.$item['image'].'" alt="Photo: '.$item['title'].'">';
		echo '<div class="carousel-caption"><h4>'.$item['title'].'</h4><p>'.$item['description'].'</p></div>';

		echo '</div>';
	}
	?>
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#homepage_rotator" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#homepage_rotator" data-slide="next">&rsaquo;</a>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$('div#homepage_rotator').carousel();
});
</script>