<?
$user = $this->auth->getLoggedInUser();
$messages = array();
?>

<h2>My Student Organizations</h2>
<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'class'		=> 'success',
		'icon'		=> 'add',
		'text'		=> 'Add an Organization',
		'href'		=> $this->route(array('module' => 'organization', 'controller' => 'add')),
	)) ?>
</div>

<? if (count($user->officer_positions) > 0): ?>
	<table class="table table-striped" width="100%">
	    <colgroup>
	        <col width="5%">
	        <col width="95%">
	    </colgroup>
	    <tbody>
	    <? foreach($user->officer_positions as $position): ?>
	    	<?
	    	$org = $position->organization;

	    	$org_messages = \StuAct\ImportantMessages::fetchForOrg($org);
	    	if ($org_messages)
	    		$messages[$org->id] = $org_messages;
	    	?>
	        <tr>
	            <td class="right">
	                <?=$this->icon(array(
	                    'type'      => 'png_status',
	                    'image'     => $org->status_icon,
	                    'title'     => $org->status_name,
	                )) ?>
	            </td>
	            <td>
	            	<b><?=$position->name ?></b> of<br>
	                <big><a href="<?=$org->getBaseUrl() ?>"><?=$org->name ?></a></big> <small>(<?=$org['status_name'] ?>)</small>
	                
	                <div class="btn-group buttons">
	                	<?=$this->button(array(
	                		'type'		=> 'small',
	                		'class'		=> 'primary',
	                		'icon'		=> 'house',
	                		'text'		=> 'Home',
	                		'href'		=> $org->getBaseUrl(),
	                	)) ?>
	                <? if ($org->it_web_drupal == 1): ?>
	                	<?=$this->button(array(
	                		'type'		=> 'small',
	                		'icon'		=> 'world',
	                		'text'		=> 'Log In to Site',
	                		'href'		=> $org->route(array('controller' => 'web', 'action' => 'login')),
	                	)) ?>
	            	<? endif; ?>
	                <? if ($org_messages): ?>
	                	<?=$this->button(array(
	                		'type'		=> 'small',
	                		'icon'		=> 'error',
	                		'class'		=> 'fancybox',
	                		'text'		=> 'Important Messages ('.count($org_messages).')',
	                		'href'		=> '#messages_'.$org->id,
	                	)) ?>
	            	<? endif; ?>
	                </div>
	            </td>
	        </tr>
	    <? endforeach; ?>
	    </tbody>
	</table>
<? else: ?>
	<p>You are not currently listed on the roster of any student organizations. If you are currently serving as the advisor or officer for a student organization, click the button above to add your name to the group's roster.</p>
<? endif; ?>

<? foreach($messages as $org_id => $messages): ?>
	<div id="messages_<?=$org_id ?>" style="display: none;">
		<h2>Important Messages</h2>

		<table class="table table-striped">
			<colgroup>
				<col width="10%">
				<col width="90%">
			</colgroup>
			<tbody>
			<? foreach($messages as $message): ?>
				<tr>
					<td class="right"><?=$this->icon(array('type' => 'png32', 'image' => $message['icon'])) ?></td>
					<td><?=$message['text'] ?></td>
				</tr>
			<? endforeach; ?>
			</tbody>
		</table>
	</div>
<? endforeach; ?>