<?
$this->headTitle($this->quiz->title);

$this->headScript()->appendFile(\DF\Url::cdn('jqueryui', '1'));
?>

<h2>Manage Quiz</h2>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'class'     => 'positive',
        'icon'      => 'add',
        'text'      => 'Add Question',
        'href'      => $this->routeFromHere(array('action' => 'editquestion', 'id' => $this->quiz->id, 'qid' => 0))
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'disk',
        'text'      => 'Save Order',
        'href'      => '#',
        'id'        => 'btn_save_order',
    )) ?>
</div>

<h2>Questions</h2>

<? if (count($this->quiz->questions) > 0): ?>
    <div id="quiz_questions">
    <? foreach($this->quiz->questions as $question): ?>
        <div class="question" rel="<?=$question['id'] ?>" style="padding: 5px 0;">
            <h4><span class="move_handle" style="float: left; padding-right: 5px; cursor: move;"><i class="icon-move"></i></span> <?=$question->question ?></h4>
            <div class="smallbuttons">
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'pencil',
                    'text'      => 'Edit',
                    'href'      => $this->routeFromHere(array('action' => 'editquestion', 'id' => $this->quiz->id, 'qid' => $question->id)),
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'delete',
                    'text'      => 'Delete',
                    'class'     => 'negative',
                    'href'      => $this->routeFromHere(array('action' => 'deletequestion', 'id' => $this->quiz->id, 'qid' => $question->id, 'csrf' => \DF\Csrf::getToken())),
                )) ?>
            </div>
            
            <? if (count($question->options) > 0): ?>
                <? $i = 1; ?>
                <? foreach($question->options as $option): ?>
                <div><b><?=chr(64+$i) ?>:</b> <?=$option->option_text ?> <? if ($option->id == $question->correct_answer_id): ?>(Correct)<? endif; ?></div>
                <? $i++; ?>
                <? endforeach; ?>
            <? else: ?>
                This question has no options listed.
            <? endif; ?>
        </div>
    <? endforeach; ?>
    </div>
<? endif; ?>

<form id="form_quiz_question_order" action="<?=$this->routeFromHere(array('action' => 'saveorder', 'id' => $this->quiz->id)) ?>" method="post">
    <input type="hidden" name="order" id="quiz_question_order" />
</form>

<script type="text/javascript">
$(function() {
    $('#quiz_questions').sortable({
        handle: 'span.move_handle'
    });
    
    $('#btn_save_order').click(function(e) {
        e.preventDefault();
        
        var element_order = [];
        $('div.question').each(function() {
            element_order.push($(this).attr('rel'));
        });
        
        $('input[name="order"]').val(element_order.join(','));
        $('form#form_quiz_question_order').submit();
        
        return false;
    });
});
</script>