<?
$this->headTitle($this->quiz['title']);
?>

<h2>Quiz Results</h2>

<div class="buttons btn-group">
    <?=$this->button(array(
        'type' => 'link',
        'icon' => 'page_white_excel',
        'class' => 'primary',
        'text' => 'Export Results',
        'href' => $this->routeFromHere(array('format' => 'csv')),
    )) ?>
    <?=$this->button(array(
        'type' => 'link',
        'icon' => 'delete',
        'text' => 'Clear Results',
        'class' => 'danger confirm-delete',
        'href' => $this->routeFromHere(array('action' => 'clearresults')),
    )) ?>
</div>

<table class="datatable zebra" width="100%">
    <colgroup>
        <col width="25%" />
        <col width="15%" />
        <col width="60%" />
    </colgroup>
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>UIN</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
    <? foreach((array)$this->quiz['results'] as $result): ?>
        <tr>
            <td align="center"><?=$result['created_at']->format('m/d/Y g:ia') ?></td>
            <td align="left"><?=$result['user']['uin'] ?></td>
            <td align="left"><?=$result['user']['firstname'] ?> <?=$result['user']['lastname'] ?></td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>