<?
$this->headtitle('Manage Sponsored/Authorized Events');
?>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'flag_green',
		'text'		=> 'Add Sponsored Event',
		'class'		=> 'large success',
		'href'		=> $this->routeFromHere(array('action' => 'edit', 'type' => 'sponsored')),
	)) ?>
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'flag_blue',
		'text'		=> 'Add Authorized Event',
		'class'		=> 'large success',
		'href'		=> $this->routeFromHere(array('action' => 'edit', 'type' => 'authorized')),
	)) ?>
	<?=$this->button(array(
		'type'		=> 'link',
		'text'		=> 'View Routing',
		'class'		=> 'large',
		'href'		=> $this->routeFromHere(array('action' => 'routing')),
	)) ?>
</div>

<?=$this->paginate($this->pager) ?>

<table class="datatable zebra">
	<colgroup>
		<col width="20%" />
        <col width="5%" />
		<col width="12%" />
		<col width="12%" />
		<col width="12%" />
		<col width="39%" />
	</colgroup>
	<thead>
		<tr>
            
			<th>Actions</th>
            <th>&nbsp;</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Type</th>
			<th>Event Name</th>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->pager as $record): ?>
		<tr class="input">
			<td align="center">
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'pencil',
					'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => $record['id'])),
					'text'		=> 'Edit',
				)) ?>
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'delete',
					'class'		=> 'negative confirm-delete',
					'href'		=> $this->routeFromHere(array('action' => 'delete', 'id' => $record['id'])),
					'text'		=> 'Delete',
				)) ?>
			</td>
            <td align="center">
                <? if ($record['is_approved'] == 1): ?>
                    <?=$this->icon(array('type' => 'png32', 'image' => 'tick', 'title' => 'Approved')) ?>
                <? else: ?>
                    <?=$this->icon(array('type' => 'png32', 'image' => 'error', 'title' => 'Needs Review')) ?>
                <? endif; ?>
            </td>
			<td align="center"><?=date('m/d/Y', $record['event_starttime']) ?></td>
			<td align="center"><?=date('m/d/Y', $record['event_endtime']) ?></td>
			<td align="center"><?=ucfirst($record['event_type']) ?></td>
			<td align="left"><?=$record['event_name'] ?></td>
		</tr>
	<? endforeach; ?>
	</tbody>
</table>

<?=$this->paginate($this->pager) ?>