<?php
$this->headTitle($this->user->firstname.' '.$this->user->lastname.' ('.$this->user->username.')');
?>

<h2>User Training Details</h2>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'arrow_refresh',
		'text'		=> 'Resynchronize Training Data',
		'href'		=> $this->routeFromHere(array('action' => 'resyncuser')),
	)) ?>
</div>

<dl>
	<dt>Current Status:</dt>
<? if ($this->user->flag_training != 0): ?>
	<dd class="valid">This user met the training requirement on <?=date('F j, Y', $this->user->flag_training_timestamp) ?>.</dd>
<? else: ?>
	<dd class="error">This user does not currently meet the training requirement.</dd>
<? endif; ?>

	<dt>Training Components:</dt>
<? if ($this->training): ?>
	<dd>
		<ul>
		<? foreach($this->training as $training): ?>
			<li><b><?=$this->training_modules[$training['name']]['name'] ?></b>: Completed on <?=$training['updated_at']->format('F j, Y g:ia') ?></li>
		<? endforeach; ?>
		</ul>
	</dd>
<? else: ?>
	<dd class="error">This user has not completed any training.</dd>
<? endif; ?>
</dl>