<?
$this->headTitle('Manage Permissions');
$this->layout()->manual = TRUE;
?>

<div class="row">
	<div class="span6">
		<div class="floating">
			<h2>Roles</h2>

			<div class="buttons">
				<?=$this->button(array(
					'type'		=> 'link',
					'href'		=> $this->route(array('module' => 'admin', 'controller' => 'permissions', 'action' => 'editrole')),
					'icon'		=> 'add',
					'text'		=> 'Add Role',
				)) ?>
			</div>

			<table class="datatable zebra">
				<colgroup>
	                <col width="7%" />
	                <col width="7%" />
	                <col width="7%" />
					<col width="79%" />
				</colgroup>
				<tbody>
				<? foreach($this->roles as $role): ?>
					<tr class="input">
						<td align="center"><a href="<?=$this->routeFromHere(array('action' => 'members', 'id' => $role['id'])) ?>" title="Members"><?=$this->icon('group') ?></a></td>
	                    <td align="center"><a href="<?=$this->routeFromHere(array('action' => 'editrole', 'id' => $role['id'])) ?>" title="Edit"><?=$this->icon('pencil') ?></a></td>
	                    <td align="center">
						<? if( $role['id'] != 1 ): ?>
	                        <a href="<?=$this->routeFromHere(array('action' => 'deleterole', 'id' => $role['id'], 'csrf' => \DF\Csrf::getToken())) ?>" title="Delete" class="confirm-delete"><?=$this->icon('delete') ?></a>
						<? else: ?>
	                        &nbsp;
						<? endif; ?>
						</td>
						<td align="left"><?=$role['name'] ?></td>
					</tr>
				<? endforeach; ?>
				</tbody>
			</table>
		</div>
	</div>
	<div class="span6">
		<div class="floating">
			<h2>Actions</h2>

			<div class="buttons">
				<?=$this->button(array(
					'type'		=> 'link',
					'href'		=> $this->route(array('module' => 'admin', 'controller' => 'permissions', 'action' => 'editaction')),
					'icon'		=> 'add',
					'text'		=> 'Add Action',
				)) ?>
			</div>

			<table class="datatable zebra">
				<colgroup>
					<col width="7%" />
	                <col width="7%" />
					<col width="86%" />
				</colgroup>
				<tbody>
				<? foreach($this->actions as $action): ?>
					<tr>
						<td align="center"><a href="<?=$this->routeFromHere(array('action' => 'editaction', 'id' => $action['id'])) ?>" title="Edit"><?=$this->icon('pencil') ?></a></td>
	                    <td align="center"><a href="<?=$this->routeFromHere(array('action' => 'deleteaction', 'id' => $action['id'], 'csrf' => \DF\Csrf::getToken())) ?>" title="Delete" class="confirm-delete"><?=$this->icon('delete') ?></a></td>
						<td align="left"><?=$action['name'] ?></td>
					</tr>
				<? endforeach; ?>
				</tbody>
			</table>
		</div>
	</div>
</div>