<?
$this->headTitle('Members of Role: '.$this->role->name);
?>

<h2>Current Members</h2>

<? if (count($this->role->users) > 0): ?>
<table class="datatable zebra">
	<colgroup>
    	<col width="15%" />
        <col width="15%" />
        <col width="60%" />
    </colgroup>
	<thead>
   		<tr>
        	<th>Actions</th>
            <th>UIN</th>
            <th>User Name</th>
        </tr> 
    </thead>
    <tbody>
    <? foreach($this->role->users as $user): ?>
    	<tr class="input">
        	<td align="center">
            	<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'delete',
					'class'		=> 'negative confirm-action',
					'href'		=> $this->routeFromHere(array('action' => 'deletemember', 'user_id' => $user['id'])),
					'text'		=> 'Delete',
				)) ?>
            </td>
            <td align="center"><?=$user['uin'] ?></td>
            <td align="left"><?=$user['lastname'] ?>, <?=$user['firstname'] ?></td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>
<? endif; ?>

<br>
<h2>Add Member(s)</h2>

<form action="<?=$this->routeFromHere(array('action' => 'addmember')) ?>" method="post">
<dl>
    <dt>Member UINs/NetIDs:</dt>
    <dd><textarea name="uins" class="half-width full-height"></textarea></dd>
</dl>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'submit',
        'icon'      => 'add',
        'text'      => 'Add Members',
    )) ?>
</div>
</form>