<?
$this->headTitle('History');

$this->log_types = array(
	'all'			=> 'All Entries',
	'events'		=> 'Events',
	'files'			=> 'Files',
	'groups'		=> 'Groups',
	'it'			=> 'Web/E-mail',
	'officers'		=> 'Officers',
	'profile'		=> 'Profile',
	'reports'		=> 'Reports',
	'status'		=> 'Status',
	'training'		=> 'Training',
);
?>

<ul class="nav nav-tabs autoselect" rel="<?=$this->category ?>">
<? foreach($this->log_types as $log_id => $log_name): ?>
	<li rel="<?=$log_id ?>"><a href="<?=$this->routeFromHere(array('category' => $log_id, 'page' => 1)) ?>"><?=$log_name ?></a></li>
<? endforeach; ?>
</ul>

<h3><?=$this->log_types[$this->category] ?></h3>

<?=$this->paginate($this->pager) ?>

<table class="table table-striped" width="100%">
	<colgroup>
		<col width="20%">
		<col width="20%">
		<col width="25%">
		<col width="35%">
	</colgroup>
	<thead>
		<tr>
			<th>Date/Time</th>
			<th>Type</th>
			<th>User</th>
			<th>Message</th>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->pager as $log): ?>
		<tr class="input">
			<td><?=date('m/d/Y g:ia', $log['timestamp']) ?></td>
			<td><?=$this->log_types[$log['type']] ?></td>
			<td>
			<? if ($log->user): ?>
				<?=$log->user->name ?>
			<? else: ?>
				N/A
			<? endif; ?>
			</td>
			<td><?=$log['message'] ?></td>
		</tr>
	<? endforeach; ?>
	</tbody>
</table>

<?=$this->paginate($this->pager) ?>