<?
$this->headTitle('Recognition Checklist');
$this->layout()->manual = TRUE;
?>

<div class="row">
	<div class="span12">
		<div class="floating">
			<h3>Current Status</h3>

			<?=$this->renderHere('status', TRUE) ?>
		</div>
	</div>
</div>

<div class="row">
	<div class="span6">
		<!-- Advisor Checklist Items -->
		<div class="floating">
			<h3>Advisors<br><small>Primary Advisor &amp; Other Advisors</small></h3>

			<table class="table table-nopadding" width="100%">
				<colgroup>
					<col width="10%">
					<col width="90%">
				</colgroup>
				<tbody>
					<tr class="<?=$this->statusColor($this->organization->flag_advisors_present) ?>">
						<td class="right"><?=$this->statusIcon($this->organization->flag_advisors_present) ?></td>
						<td>
							<b>Present</b><br>
						<? if ($this->organization->flag_advisors_present == ORG_FLAG_MEETS_REQ): ?>
							The Primary Advisor position is filled.
						<? else: ?>
							The Primary Advisor position must be filled.
						<? endif; ?>
						</td>
					</tr>
					<tr class="<?=$this->statusColor($this->organization->flag_advisors_trained) ?>">
						<td class="right"><?=$this->statusIcon($this->organization->flag_advisors_trained) ?></td>
						<td>
							<b>Trained</b><br>
							<? if ($this->organization->flag_advisors_trained == ORG_FLAG_MEETS_REQ): ?>
								All advisors are trained.
							<? else: ?>
								All advisors must meet the training requirements.
							<? endif; ?>

							<table class="table table-condensed table-nopadding" width="100%">
								<colgroup>
									<col width="5%">
									<col width="95%">
								</colgroup>
								<tbody>
								<? foreach($this->organization->getAdvisors() as $roster): ?>
									<tr class="input">
										<td class="center"><?=$this->booleanIcon($roster->user->flag_training, 'small') ?></td>
										<td>
											<?=$roster->name ?>
										<? if ($roster->user->flag_training != 0 && $roster->user->flag_training_expiration): ?>
											<small>(Expires <?=date('m/d/Y', $roster->user->flag_training_expiration) ?>)</small>
										<? endif; ?>
										</td>
									</tr>
								<? endforeach; ?>
								</tbody>
							</table>

							<div class="buttons">
								<?=$this->button(array(
									'type'		=> 'small',
									'text'		=> 'Training Center',
									'href'		=> $this->route(array('module' => 'training')),
								)) ?>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- CSL/Treasurer Checklist Items -->
		<div class="floating">
			<h3>Student Leaders<br><small>Chief Student Leader &amp; Treasurer</small></h3>

			<table class="table table-nopadding" width="100%">
				<colgroup>
					<col width="10%">
					<col width="90%">
				</colgroup>
				<tbody>
					<tr class="<?=$this->statusColor($this->organization->flag_leaders_present) ?>">
						<td class="right"><?=$this->statusIcon($this->organization->flag_leaders_present) ?></td>
						<td>
							<b>Present</b><br>
						<? if ($this->organization->flag_leaders_present == ORG_FLAG_MEETS_REQ): ?>
							The Chief Student Leader and Treasurer are listed on the roster.
						<? else: ?>
							The group is missing a Chief Student Leader or Treasurer.
						<? endif; ?>
						</td>
					</tr>
					<tr class="<?=$this->statusColor($this->organization->flag_leaders_trained) ?>">
						<td class="right"><?=$this->statusIcon($this->organization->flag_leaders_trained) ?></td>
						<td>
							<b>Trained</b><br>
							<? if ($this->organization->flag_leaders_trained == ORG_FLAG_MEETS_REQ): ?>
								Student leaders currently meet training requirements.
							<? else: ?>
								Student leaders must complete the training requirement.
							<? endif; ?>

							<table class="table table-condensed table-nopadding" width="100%">
								<colgroup>
									<col width="5%">
									<col width="95%">
								</colgroup>
								<tbody>
								<? foreach($this->organization->getStudentLeaders() as $roster): ?>
									<tr class="input">
										<td class="center"><?=$this->booleanIcon($roster->user->flag_training, 'small') ?></td>
										<td>
											<?=$roster->name ?>
										<? if ($roster->user->flag_training != 0 && $roster->user->flag_training_expiration): ?>
											<small>(Expires <?=date('m/d/Y', $roster->user->flag_training_expiration) ?>)</small>
										<? endif; ?>
										</td>
									</tr>
								<? endforeach; ?>
								</tbody>
							</table>

							<div class="buttons">
								<?=$this->button(array(
									'type'		=> 'small',
									'text'		=> 'Training Center',
									'href'		=> $this->route(array('module' => 'training')),
								)) ?>
							</div>
						</td>
					</tr>
					<tr class="<?=$this->statusColor($this->organization->flag_leaders_renewed) ?>">
						<td class="right"><?=$this->statusIcon($this->organization->flag_leaders_renewed) ?></td>
						<td>
							<b>Current</b><br>
						<? if ($this->organization->flag_leaders_renewed == ORG_FLAG_MEETS_REQ): ?>
							All student leaders are renewed for the current term.
						<? else: ?>
							All student leaders must be renewed for the current term.
						<? endif; ?>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="span6">
		<!-- General Officer Items -->
		<div class="floating">
			<h3>All Students<br><small>Student Leaders &amp; General Officers</small></h3>

			<table class="table table-nopadding" width="100%">
				<colgroup>
					<col width="10%">
					<col width="90%">
				</colgroup>
				<tbody>
					<tr class="<?=$this->statusColor($this->organization->flag_officers_eligible) ?>">
						<td class="right"><?=$this->statusIcon($this->organization->flag_officers_eligible) ?></td>
						<td>
							<b>Eligible</b><br>
						<? if ($this->organization->flag_officers_eligible == ORG_FLAG_MEETS_REQ): ?>
							All student officers are eligible to fill their positions.
						<? else: ?>
							One or more student officers are ineligible to fill their positions.
						<? endif; ?>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- Organization-Wide Items -->
		<div class="floating">
			<h3>Organization-Wide<br><small>Completable by Advisors &amp; Student Leaders</small></h3>

			<table class="table table-nopadding" width="100%">
				<colgroup>
					<col width="10%">
					<col width="90%">
				</colgroup>
				<tbody>
					<tr class="<?=$this->statusColor($this->organization->flag_updates) ?>">
						<td class="right"><?=$this->statusIcon($this->organization->flag_updates) ?></td>
						<td>
							<b>Updated Profile</b><br>
						<? if ($this->organization->flag_updates == ORG_FLAG_MEETS_REQ): ?>
							The organization's public profile is up to date.
						<? else: ?>
							The organization's public profile must be updated.
						<? endif; ?>

							<div class="buttons">
								<?=$this->button(array(
									'type'		=> 'small',
									'text'		=> 'Edit Public Profile',
									'href'		=> $this->orgRoute(array('controller' => 'profile', 'action' => 'editpublic')),
								)) ?>
							</div>
						</td>
					</tr>
					<tr class="<?=$this->statusColor($this->organization->flag_constitution) ?>">
						<td class="right"><?=$this->statusIcon($this->organization->flag_constitution) ?></td>
						<td>
							<b>Approved Constitution</b><br>
						<? if ($this->organization->flag_constitution == ORG_FLAG_MEETS_REQ): ?>
							Student Activities has approved the group's constitution.
						<? elseif ($this->organization->flag_constitution == ORG_FLAG_DOES_NOT_MEET_REQ): ?>
							The organization must submit a constitution for review.
						<? else: ?>
							Review of the organization's constitution is currently pending.
						<? endif; ?>

							<div class="buttons">
								<?=$this->button(array(
									'type'		=> 'small',
									'text'		=> 'Constitution',
									'href'		=> $this->orgRoute(array('controller' => 'constitution')),
								)) ?>
							</div>
						</td>
					</tr>
					<tr class="<?=$this->statusColor($this->organization->flag_sigcard) ?>">
						<td class="right"><?=$this->statusIcon($this->organization->flag_sigcard) ?></td>
						<td>
							<b>Signature Card</b><br>
						<? if ($this->organization->flag_sofc == ORG_FLAG_MEETS_REQ): ?>
							The SOFC has received an updated signature card.
						<? else: ?>
							An up-to-date signature card must be submitted to the SOFC.
						<? endif; ?>

							<div class="buttons">
								<?=$this->button(array(
									'type'		=> 'small',
									'text'		=> 'Print Signature Card',
									'href'		=> $this->orgRoute(array('controller' => 'finances', 'action' => 'sigcard')),
								)) ?>
							</div>
						</td>
					</tr>
					<tr class="<?=$this->statusColor($this->organization->flag_misc) ?>">
						<td class="right"><?=$this->statusIcon($this->organization->flag_misc) ?></td>
						<td>
							<b>Miscellaneous</b><br>
						<? if ($this->organization->flag_misc == ORG_FLAG_MEETS_REQ): ?>
							All miscellaneous requirements are complete.
						<? else: ?>
							Any miscellaneous requirements must be completed.
						<? endif; ?>

						<? if (count($this->organization->miscellaneous_requirements) > 0): ?>
							<table class="table table-striped" width="100%">
							    <colgroup>
							        <col width="5%">
							        <col width="95%">
							    </colgroup>
							    <tbody>
							    <? foreach($this->organization->miscellaneous_requirements as $misc): ?>
							        <tr>
							            <td class="center"><?=$this->statusIcon($misc->status,'small') ?></td>
							            <td>
							                <b><?=$misc->type_name ?></b><br>
							                <?=$misc->text ?>
							            </td>
							        </tr>
							    <? endforeach; ?>
							    </tbody>
							</table>
						<? endif; ?>

						<? if ($this->isAllowed('profile_staff_edit')): ?>
							<div class="buttons">
								<?=$this->button(array(
									'type'		=> 'small',
									'text'		=> 'Manage Requirements',
									'href'		=> $this->routeFromHere(array('action' => 'misc')),
								)) ?>
							</div>
						<? endif; ?>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>