<?
$this->headTitle('Miscellaneous Requirements');
?>

<div class="buttons well">
    <?=$this->button(array(
        'type'      => 'link',
        'class'     => 'large success',
        'icon'      => 'add',
        'text'      => 'Add Requirement',
        'href'      => $this->routeFromHere(array('action' => 'editmisc')),
    )) ?>
</div>

<table class="table table-striped" width="100%">
    <colgroup>
        <col width="25%">
        <col width="5%">
        <col width="20%">
        <col width="60%">
    </colgroup>
    <tbody>
    <? foreach($this->organization->miscellaneous_requirements as $misc): ?>
        <tr class="input">
            <td class="center">
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'pencil',
                    'text'      => 'Edit',
                    'href'      => $this->routeFromHere(array('action' => 'editmisc', 'misc_id' => $misc->id)),
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'delete',
                    'class'     => 'danger confirm-delete',
                    'text'      => 'Delete',
                    'href'      => $this->routeFromHere(array('action' => 'deletemisc', 'misc_id' => $misc->id)),
                )) ?>
            </td>
            <td class="center"><?=$this->statusIcon($misc->status) ?></td>
            <td><?=date('m/d/Y g:ia', $misc->timestamp) ?></td>
            <td>
                <big><?=$misc->type_name ?></big><br>
                <?=$misc->text ?>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>