<?php
$this->headTitle('Add an Organization');
?>

<h2>Find Organization</h2>

<form class="form-stacked" action="" method="get">
<div class="clearfix">
	<label for="q">All or Part of Organization Name:</label>
	<input name="q" type="text" class="full-width big" value="<?=$this->q ?>">
</div>

<div class="buttons actions">
	<?=$this->button(array(
		'type'		=> 'submit',
		'icon'		=> 'find',
		'class'		=> 'primary',
		'text'		=> 'Find Organization',
	)) ?>
</div>
</form>

<? if ($this->results): ?>
	<h2>Select an Organization</h2>

	<table class="datatable zebra" width="100%">
		<colgroup>
			<col width="5%">
			<col width="95%">
		</colgroup>
		<tbody>
		<? foreach($this->results as $organization): ?>
			<tr class="input">
				<td align="center">
					<?=$this->icon(array(
		                'type'      => 'png_status',
		                'image'     => $organization->status_icon,
		                'title'     => $organization->status_name,
		            )) ?>
		        </td>
		        <td align="left">
		        	<big><a href="<?=$this->routeFromHere(array('controller' => 'roster', 'action' => 'newrequest', 'id' => $organization->id)) ?>"><?=$organization->name ?></a></big><br>
		        	<small><?=$organization->profile_purpose ?></small>
		        </td>
			</tr>
		<? endforeach; ?>
		</tbody>
	</table>
<? endif; ?>