<h2>Form Needs Modifications</h2>

<p><b>Camps Form #<?=$this->form->access_code ?>:</b> <?=$this->form->index_name ?></p>

<p>One of the reviewers of this form has rejected it and submitted it back to you for further modifications.</p>

<p>
	To review and revise the submitted details of this form, visit this page:<br />
    <?=$this->link($this->edit_url) ?>
</p>
<p>
	To view the progress of all forms you have submitted, visit this page:<br />
	<?=$this->link($this->home_url) ?>
</p>