<?php
$this->headTitle('Batch Manager Center: Leadership Report');
?>

<div class="buttons well">
    <?=$this->button(array(
        'type'      => 'link',
        'text'      => 'Download to Excel',
        'icon'      => 'page_white_excel',
        'class'     => 'primary',
        'href'      => $this->routeFromHere(array('format' => 'csv')),
    )) ?>
</div>

<table class="datatable zebra" width="100%">
    <colgroup>
        <col width="25%" />
        <col width="20%" />
        <col width="15%" />
        <col width="20%" />
        <col width="20%" />
    </colgroup>
    <thead>
        <tr>
            <th>Organization</th>
            <th>Name</th>
            <th>Position</th>
            <th>Phone</th>
            <th>E-mail Address</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->orgs as $org): ?>
        <tr>
            <th colspan="5"><?=$org['name'] ?></th>
        </tr>
        <? foreach((array)$org['officer_positions'] as $officer): ?>
        <tr>
            <td align="left"><?=$org['name'] ?></td>
            <td align="left"><?=$officer['user']['lastname'] ?>, <?=$officer['user']['firstname'] ?></td>
            <td align="left"><?=$this->org_config['officer_codes'][$officer['position']] ?></td>
            <td align="left"><?=$officer['user']['phone'] ?></td>
            <td align="left"><?=$this->mailto($officer['user']['email']) ?></td>
        </tr>
        <? endforeach; ?>
    <? endforeach; ?>
    </tbody>
</table>