<?
$user = $this->auth->getLoggedInUser();
?>

<table class="table table-striped">
	<colgroup>
		<col width="10%">
		<col width="90%">
	</colgroup>
	<tbody>
<? if ($this->group): ?>
	<? foreach($this->group as $position): ?>
		<tr class="input <? if ($position->user_id == $user->id): ?>blue<? endif; ?>">
			<td class="right"><a href="#position_<?=$position->user_id ?>" class="fancybox avatar"><img src="<?=$position->user->getAvatar(64) ?>" class="avatar" alt="Avatar"></a></td>
			<td>
				<small><b><?=$position->name ?></b>:</small><br>
				<big><?=$position->user->firstname ?> <?=$position->user->lastname ?></big>

				<? if ($this->isAllowed('profile_staff_edit')): ?>
				<div>
					<? if ($position->isEligible()): ?>
						<span class="badge badge-success">Eligible</span>
					<? else: ?>
						<span class="badge badge-important">Ineligible</span>
					<? endif; ?>
					<? if ($position->isTrained()): ?>
						<span class="badge badge-success">Trained</span>
					<? else: ?>
						<span class="badge badge-important">Untrained</span>
					<? endif; ?>
					<? if ($position->isRenewed()): ?>
						<span class="badge badge-success">Renewed</span>
					<? else: ?>
						<span class="badge badge-important">Unrenewed</span>
					<? endif; ?>
				</div>
				<? endif; ?>

				<div style="margin-top: 5px;">
					<?=$this->button(array(
						'type'		=> 'small',
						'icon'		=> 'email_go',
						'text'		=> 'E-mail',
						'href'		=> 'mailto:'.$position->user->email,
					)) ?>
					<?=$this->button(array(
						'type'		=> 'small',
						'icon'		=> 'information',
						'text'		=> 'More Info',
						'class'		=> 'fancybox',
						'href'		=> '#position_'.$position->user_id,
					)) ?>
				</div>
			</td>
		</tr>
	<? endforeach; ?>
<? endif; ?>
	</tbody>
</table>