<h2><?=$this->subject ?></h2>

<p>Organization: <b><?=$this->record->organization->name ?></b></p>

<p>A custom training item you submitted for this organization has been reviewed. Its updated status is listed below.</p>

<dl>
	<dt>Title/Summary:</dt>
	<dd><?=$this->record->data['name'] ?></dd>

	<dt>Description:</dt>
	<dd><?=nl2br($this->record->data['description']) ?></dd>

	<dt>Number of Credits:</dt>
	<dd><?=$this->record->credits ?></dd>

	<dt>Final Review Status:</dt>
	<dd><?=$this->record->phase_name ?></dd>
</dl>