<h2>Training Expired</h2>

<p>You last completed the required recognition training on <?=date('F j, Y', $this->training_date) ?>. The credit for this training associated with your StuAct Online account has expired.</p>

<p>If any organizations associated with your account depend on this requirement for their recognition status, losing this credit may cause the organization to become "Restricted"; visit your training profile below for instructions to renew the training. If you are no longer associated with any organizations that depend on this requirement, no additional action is necessary.</p>

<p>
	To access your training profile, visit this page:<br />
	<?=$this->link($this->route(array('module' => 'training'))) ?>
</p>