@charset "utf-8";

html, body,
div#page {
	background: #1D1D1D;
}

div#page div#navigation {
	background: url('dark/nav_bg.png') no-repeat scroll center center transparent;
}
div#logo_right {
	background: url('dark/logo_right_s1.png') top right no-repeat;
}
div#logo_left {
	background: url('dark/logo_left_s1.png') top left no-repeat;
}

div#page_top_search {
	background: url('dark/search_bg.png') top left no-repeat;
}
#page_top_search_button { 
	background: url('dark/search_button.png') top left no-repeat;
}

div#content_header h1 {
	color: #FFF;
}
div#content_header ul.tabs li a {
	color: #CCC;
}
div#content_header ul.tabs li a:hover {
	color: #333;
}
div#content_header ul.tabs li.active a {
	color: #000;
}

div#page_footer a {
	color: #DDD;
}
div#page_footer a.btn {
	color: #333;
}

