@charset "utf-8";
@import url("base_light.css");

html, body {
	background: #E6EBEE;
}
div#body {
	background: url('white/bodybg.jpg') top center repeat-y;
}
div#closure {
	background: url('white/bodyfoot.jpg') top center no-repeat;
}

div#page {
	background: #FFF url('white/pagebg.jpg') top center repeat-x;
}

div#page div#navigation {
	background: url('white/nav_bg.png') no-repeat scroll center center transparent;
}