<?
$this->headtitle('Manage Users');
?>

<div class="buttons well">
	<?=$this->button(array(
		'type'		=> 'link',
		'class'		=> 'large success',
		'href'		=> $this->route(array('module' => 'admin', 'controller' => 'users', 'action' => 'add' )),
		'icon'		=> 'add',
		'text'		=> 'Add New User',
	)) ?>
</div>

<h2>Find a User</h2>

<form class="form-stacked" action="<?=$this->routeFromHere(array('page' => NULL)) ?>" method="get">
<div class="clearfix">
	<label for="q">Search terms:</label>
	<input type="text" name="q" value="<?=$this->query ?>" class="full-width big" />
</div>

<div class="buttons actions">
	<?=$this->button(array(
        'type'		=> 'submit',
        'class'		=> 'primary',
        'icon'		=> 'find',
        'text'		=> 'Search Users',
    )) ?>
</div>
</form>

<? if ($this->searchterms): ?>
	<h2>Search Results for: <?=$this->searchterms ?></h2>
<? else: ?>
	<h2>View All Users</h2>
<? endif; ?>

<?=$this->paginate($this->pager) ?>

<?php
$token = \DF\Csrf::getToken();

if (count($this->pager) > 0)
{
    foreach( $this->pager as $user )
    {
		$edit_button = $this->button(array(
			'type'		=> 'small',
			'href'		=> $this->route(array('module' => 'admin', 'controller' => 'users', 'action' => 'edit', 'id' => $user->id)),
			'icon'		=> 'pencil',
			'text'		=> 'Edit',
		));
        
        $user_roles = array();
        if (count($user['roles']) > 0)
        {
            foreach($user['roles'] as $role)
            {
                $user_roles[] = $role['name'];
            }
        }
        
        $bodyArray = array(
			$edit_button,
            '<big>'.implode(', ', array($user['lastname'], $user['firstname'])).'</big><br />'.$user['title'],
			$user['uin'],
            '<small>'.($user_roles ? implode('<br />', $user_roles) : '').'</small>',
		);
        
        $body[] = $bodyArray;
    }

    $header = array(
        array(
			'data'		=> 'Actions',
			'width'		=> '20%',
		),
		array(
			'data'		=> 'Name',
			'width'		=> '40%',
		),
		array(
			'data'		=> 'UIN',
			'width'		=> '10%',
		),
		array(
			'data'		=> 'Roles',
			'width'		=> '30%',
		),
    );

    print $this->table()
        ->setOptions(array(
            'style' => 'width: 100%',
        ))
        ->setHeader(array($header))
        ->setBody($body);
}
else
{
	echo '<p>No current users exist in the system.</p>';
}
?>

<?=$this->paginate($this->pager) ?>