<ul class="nav nav-pills autoselect" rel="<?=$this->view ?>">
	<li rel="today"><a href="<?=$this->routeFromHere(array('action' => 'index', 'view' => 'today', 'q' => NULL)) ?>">Today's Events</a></li>
	<li rel="all"><a href="<?=$this->routeFromHere(array('action' => 'index', 'view' => 'all', 'q' => NULL)) ?>">View All Forms</a></li>
	<li rel="search"><a href="<?=$this->routeFromHere(array('action' => 'index', 'view' => 'search', 'q' => NULL)) ?>">Search Forms</a></li>
	<li rel="lookup"><a href="<?=$this->routeFromHere(array('action' => 'lookup', 'view' => NULL, 'q' => NULL)) ?>">Lookup Student Information</a></li>
</ul>