<h2><?=$this->subject ?></h2>

<p>Organization: <b><?=$this->org->name ?></b></p>

<p>A pre-event planning form submitted by this organization has recently changed status. The updated details are below.</p>

<dl>
	<dt>Form ID:</dt>
    <dd><?=$this->id ?></dd>
    
    <dt>Form Name:</dt>
    <dd><?=$this->name ?></dd>
    
    <dt>New Status:</dt>
    <dd><?=$this->status ?></dd>
</dl>

<p>
    To view the status of your organization's Pre-Event Planning Forms at any time, visit this address:<br>
    <?=$this->link($this->route(array('module' => 'form_preevent'))) ?>
</p>